{% import "quotes.twig" as quotes %}


{% if params.hasMedia %}

    
    {{this.render('gallery.twig', {
        media: params.gallery,
        showPaywall: showPaywall,
        imageClass: "c-cards-view__media",
        showCaption: false,
    }) | raw}}

    

{% endif %}

<div class="social-icon"></div>



{# This wrapper div added #}
<div class="{{params.cardType}}c-cards-view__photo-wrapper"> 
    <div class="{{params.cardType}}c-cards-view__container">

        <div class="{{params.cardType}}c-cards-view__category">{{params.category}}</div>
        
        <h2 class="{{params.cardType}}c-cards-view__heading js-c-cards-view-heading j-truncate">{{ params.title }}</h2>
        
        <p class="{{params.cardType}}c-cards-view__description js-c-cards-view-description j-truncate">{{ quotes.smarten(params.content | raw) }}</p>

        <div class="{{params.cardType}}c-cards-view__author">
            {# <div class="c-cards-view__author-name">{{ params.author }}</div> #}
            <div class="{{params.cardType}}c-cards-view__time">{{params.publishDate}}</div>
        </div>

        <a href="{{params.url}}" class="c-cards-view__button c-button c-button--red u-mobile-margin-top-10">SHOP IMAGES</a>
    </div>
</div>