{# please make sure sectionNumber, loadMoreClass and totalCards are set at the top of this file #}
<div class="row" id="loadmore_section_{{sectionNumber}}"></div>

{# {% if articles|length >= cardCount %} #}
<div class="">
    {{ this.render('/partials/ajaxarticles_new.twig', {
        name            : "section-load-" ~ sectionNumber,
        label           : "+ Load more",
        buttonClass     : "c-loadmore",
    }) | raw }}


    <a  class = "load_less c-loadmore" 
        href  = "#loadmore_section_{{sectionNumber}}"
        id    = "less-section-load-{{sectionNumber}}"
        style = "display:none"
        data-section="loadmore_section_{{sectionNumber}}" 
    >Show less</a>
</div>
{# {% endif %} #}

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function() {

        Acme.articleFeeds["loadmore_section_{{sectionNumber}}"] = new Acme.View.articleFeed({
            model           : CardController(),
            container       : 'loadmore_section_{{sectionNumber}}',
            offset          : 0,
            limit           : {{ limit }},
            label           : "+ Load more",
            name            : 'section-load-{{sectionNumber}}',
            blogid          : "{{ blogData['guid'] }}",
            card_class      : "{{cardClass}}",
            non_pinned      : {{cardCount}}
        });

        $('.load_less').on('click', function(e) {
            var section = $(this).data('section');
            $('#' + section).empty();
            $(this).hide();
            Acme.articleFeeds[section].options.nonPinnedOffset = {{cardCount}}
        });
    });
</script>
