{# please make sure sectionNumber, loadMoreClass and totalCards are set at the top of this file #}
<div class="row" id="loadmore_section_{{sectionNumber}}"></div>

{# {% if articles|length >= cardCount %} #}
<div class="">
    {{ this.render('/partials/ajaxarticles_new.twig', {
        name            : "section-load-" ~ sectionNumber,
        label           : "+ Load more",
        buttonClass     : "c-loadmore",
    }) | raw }}
</div>
{# {% endif %} #}

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function() {
        new Acme.View.articleFeed({
            model           : CardController(),
            container       : 'loadmore_section_{{sectionNumber}}',
            offset          : 0,
            limit           : 5,
            name            : 'section-load-{{sectionNumber}}',
            blogid          : "{{ blogData['guid'] }}",
            card_class      : "{{cardClass}}",
            non_pinned      : {{cardCount}}
        });
    });
</script>
