{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}





{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}
{% set config       = _Network.getThemeConfig() %}

{% set relatedArticles = [] %}


{% set showPaywall = false %}
{% set ArticleContent = article.content %}
{# <pre>
{{dump(article)}}
</pre> #}

{% if   not _User.isAdminUser()     and
        article.showPaywall == true %}
    {% set showPaywall = true %}
{% endif %}


{# {% set showPaywall = true %} #}


{% if showPaywall == true %}
    {% set storySplit = ArticleContent | split('<p>')  %}
    {% set para2_words = storySplit[2] | split(' ') | slice(0, 10) %}
    {% set para2 = para2_words | join(' ') ~ '</p>'  %}
    {% set ArticleContent = '<p>' ~ [storySplit[1], para2] | join('<p>') %}

{% else %}
    {# Only grab these if article is not paywalled #}
    {# {% set recentArticles = _Article.getPopularArticles({ limit: 3, excludeArticleIds : [article.id], interval: 168, scope: 'network' }) %} #}
    {% set recentArticles = _Article.getRecentArticles({ limit: 3, excludeArticleIds : [article.id] }) %}
{% endif %}
{# <pre>
{{dump(relatedArticles)}}
</pre> #}
{% set articleImg = false %}
{% set featured = false %}

{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'faces:auto'} ) %}

    {% set featured = article.media[0].type %}
{% endif %}


{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}

{% set updated = false %}
{% if article.publishedDateTime != article.updatedDateTime %}
    {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
    {% if updatedAgo < 86400 %}
        {% set updateDate = _AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %}
    {% endif %}
    {% set updated = true %}
{% endif %}



{% set testCount = 0 %}



<main id="main" class="u-margin-top-60 u-margin-bottom-60" role="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 col-xl-6 offset-xl-1">

                <div class="c-article">
                    <div class="c-article__main">
                        <div class="c-article__head">
                            


                            <div class="c-article__category">
                                {{article.label}}
                            </div>
                            <div class="c-article__title">
                                {{ quotes.smarten(article.title) }}
                            </div>



                            <div class="c-article__posted-by">
                                <div class="c-article__author">
                                    <a class="c-article__author-name" href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts">{{ article.createdBy['displayName'] }}</a>

                                    {% if article['createdBy']['coauthors'] %}
                                        {% for author in article['createdBy']['coauthors'] %}
                                            <a class="c-article__author-name" href="{{_AppHelper.getUserProfileUrl(author['username'])}}/posts">{{ author['displayName'] }}</a>
                                        {% endfor %}
                                    {% endif %}

                                    <time class="c-article__published">{{article.publishedDate}}</time>
                                    {% if updated %}
                                         - <time class="c-article__updated">Updated {{ updateDate | capitalize }}</time>
                                    {% endif %}
                                </div>

                            </div>

                            {% if _User.isAdminUser() %}
                                    <a href="{{article.editUrl}}" target="_blank" class="c-article__edit-link">Edit article</a>
                            {% endif %}

                        </div> <!-- close head -->


                    {% if articleImg %} 

                        <div class="gallery-container relative">
                            {% if article.media|length > 0 %}
                                {{this.render('partials/gallery.twig', {
                                    media: article.media,
                                    showPaywall: showPaywall
                                }) | raw}}
                            {% endif %}
                                                    

                        </div> 

                    {% endif %}






                        <div class="c-article__container">
                                {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                        </div>



    {% if showPaywall == true %}
                        </div><!-- close main -->
                    </div><!-- close article -->
                </div><!-- close col -->
            </div><!-- close row -->
        </div><!-- close container -->
        <div class="c-article__paywalled-view">
            <div class="c-paywalled-article">
                <div class="container">
                    <div class="row">
                        <div class="c-paywalled-article__container offset-lg-1">
                            <div class="c-paywalled-article__text">
                                <h3 class="c-paywalled-article__publication">Sunraysia Daily</h3>
                                <h1 class="c-paywalled-article__title">See how the story develops.<br />
                                    Subscribe now to Sunraysia Daily.</h1>
                                <a class="c-paywalled-article__subscriptions" href="{{networkData.defaultBlogUrl}}/paywall">Click here to view subscription options</a>
                            </div>

                            <div class="c-paywalled-article__action">
                                <a href="{{networkData.defaultBlogUrl}}/paywall" class="c-button c-button-block  c-button--red u-margin-bottom-5">Subscribe</a>
                                <a id="articleSigninBtn" href="#" class="c-button c-button-block  c-button--wtbg  c-button--wtbg-bordered c-button--boderwidth1">Log in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

                    </div>


                    <!-- Disqus Comment Added -->
                    {% if networkData.thirdPartyIntegrations['disqus'] | length > 0 and networkData.thirdPartyIntegrations['disqus']['shortName'] != '' %}
                        {{this.render("partials/article/_disqus_comments.twig", {disqus: networkData.thirdPartyIntegrations['disqus'], userId: article.createdBy['id'], url:article.url, articleId: article.id}) | raw}}
                    {% endif %}


                </div>
                <!-- End Article Page -->
            </div>


            <div class="col-12 col-lg-3 offset-lg-1">
                <div class="o-body-container__right-layout">
                    {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                        <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="side-fix"></div>
                    {% endif %}
                </div>
            </div>

        </div>


        {% if recentArticles | length > 0 %}

            <div class="row c-related-articles u-desktop-margin-top-100">
                <div class="col-12">
                    <h1 class="c-related-articles__header u-margin-bottom-30" >You might also like...</h1>
                </div>
                
                <div class="offset-lg-1 col-ls-10">
                    <div class="row">
                        {% set classes = ["u-desktop-lg-padding-right-50", "u-desktop-lg-padding-right-30 u-desktop-lg-padding-left-30 u-article-divider-left", "d-none d-lg-block u-desktop-lg-padding-left-50 u-article-divider-left-2"] %}
                        {% for i in 0..2 if recentArticles[i] %}
                            <div class="col-12 col-md-6 col-lg-4 {{classes[i]}}">
                                {{this.render('partials/_single-article.twig', {
                                    article: recentArticles[i], 
                                    imageSize: {width: 300, height: 180},
                                    containerClass: 'card-2-mobile card-2-tablet card-2-desktop card-2-desktop-lg',
                                    site:   site
                                }) | raw}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}






    </div>
    {% set theKeywords = '' %}
    {% if article.keywords is defined and article.keywords != '' %}
        {% set theKeywords = article.keywords %}
    {% elseif blogInfo.keywords is defined and blogInfo.keywords != '' %}
        {% set theKeywords = blogInfo.keywords %}
    {% endif %}
    <div class="j-keyword-cont" data-keywords="{{theKeywords}}"></div>
</main>




