{{ set(this, 'title', 'My Account') }}


{% set networkData = _Network.getNetworkData() %}
{% set blogData = _Blog.getBlog() %}
{% set propBlogId = blogData.additionalInfo['propertylistingsid'] %}

{% set propListingsArr = [] %}
{% set pwstats = _User.getPaywallStats(true) %}
{% set plans = _Network.getNetworkData()['paywallPlans'] %}


{% set userLimit = 10 %}
{% set user = _User.getUser() %}

{% set purchases = [] %}
{# {% set purchases = _Order.getUserOrders({userId: user['id']}) %} #}



{# {% if user %} 
    {% set userImage = _User.getUserPurchases(user.guid, 0, 10, {'type':"images"}) %}
{% endif %} #}

{% set url = _AppHelper.getParsedUrl() %}
{% set params = url['query'] %}


{% set showPlans = false %}
{% for k, p in params if not break %}
    {% if k == 'plans' %}
        {% set showPlans = true %}
    {% endif %}

{% endfor %}




{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

<main id="main" class="o-body-container o-body-container-md u-margin-top-60" role="main">
    <div id="stripekey" class="hidden" >{{_Network.getNetworkData()['stripe_publishable_key']}}</div>

    <div class="container">

        <div class="row">

            <div class="col-12 col-lg-8">

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="c-myAccount">
                            {{this.render('layouts/partials/messages.twig') | raw}}



                            <h2 class="c-myAccount__head">My details</h2>
                            
                            
                            {# ERROR TEXT #}
                            <div id="error-container" class="c-form__group has-error" style="display:none">
                                <label class="c-form__label c-account-form__label" for="first-name"></label>
                                <p id="account-form__errorText" class="c-account-form__errorText u-margin-bottom-10"></p>
                            </div>

                            <form id="profile-form" class="c-form" action="" method="post" autocomplete="off">
                                <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                                <input type="hidden" name="profileImage" id="userProfileImage" value="" />

                                {# FIRST NAME #}
                                <div class="c-form__group has-error">
                                    <label class="c-form__label c-account-form__label" for="first-name">First name</label>
                                    <input id="first-name" class="c-form__input c-form__input--bordered c-account-form__input" name="firstname" placeholder="First Name" type="text" value="{{user.firstname}}">
                                    <div class="c-form__help-block">Please enter your first name</div>
                                </div>

                                {# LAST NAME #}
                                <div class="c-form__group u-margin-top-15">
                                    <label class="c-form__label c-account-form__label" for="last-name">Last name</label>
                                    <input id="last-name" class="c-form__input c-form__input--bordered c-account-form__input" name="lastname" placeholder="Last Name" type="text" value="{{user.lastname}}">
                                    <div class="c-form__help-block"></div>
                                </div>

                                {# EMAIL #}
                                <div class="c-form__group u-margin-top-15">
                                    <label class="c-form__label c-account-form__label" for="email">Email address</label>
                                    <input id="email" class="c-form__input c-form__input--bordered c-account-form__input" name="email" placeholder="Email" type="text" value="{{user.email}}">
                                    <div class="c-form__help-block"></div>
                                </div>


                                {# Number #}
                                {# <div class="c-form__group u-margin-top-15">
                                    <label class="c-form__label c-account-form__label" for="organisation">Contact number</label>
                                    <input id="contact-number" class="c-form__input c-form__input--bordered c-account-form__input" name="contact-number" value="{{user.contactnumber}}"  type="text">
                                    <div class="c-form__help-block"></div>
                                </div> #}


                                {# PASSWORD #}
                                <div class="c-form__group u-margin-top-15">
                                    <label class="c-form__label c-account-form__label" for="password">Password</label>
                                    <input id="password" class="c-form__input c-form__input--bordered c-account-form__input" name="password" placeholder="Set new password" autocomplete="new-password" type="password">
                                    <div class="c-form__help-block"></div>
                                </div>

                                {# PASSWORD VERIFY #}
                                <div class="c-form__group u-margin-top-15">
                                    <label class="c-form__label c-account-form__label" for="verifypassword">Verify password</label>
                                    <input id="verifypassword" class="c-form__input c-form__input--bordered c-account-form__input" name="verifypassword" placeholder="Verify password" autocomplete="new-password" type="password">
                                    <div class="c-form__help-block"></div>
                                </div>

                                {# ORGANISATION #}
                                
                               

                                {# SUBMIT #}
                                <div class="no-margin-bottom  u-margin-top-20">
                                    <button type="submit" id="profile_update" class="c-button c-button--lightgrey c-account-form__update" name="" disabled>Update</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 u-mobile-margin-top-40">
                        <div class="c-current-plan">
                            <label class="c-form__label c-account-form__label" for="">Current plan</label>
                            {# <div class="d-none">{{_AppHelper.printArray(pwstats)}}</div> #}
                            {% if pwstats['type'] == 'time' %}
                                    <div class="c-account-form__static-text">{{pwstats['name']}} at {{pwstats['currency']|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{ pwstats['plan_value']/100}}</div>
                            
                            {% elseif pwstats['type'] == 'article' %} 
                                <div class="c-account-form__static-text">
                                    <span>{{pwstats['total_articles']}} articles for ${{ pwstats['plan_value']/100}}.</span>
                                </div>
                           
                                <hr class="divide divide--dark" />

                                <label class="c-form__label c-account-form__label" for="">Articles Remaining</label>
                                <div class="c-account-form__static-text">
                                    <span>{{ pwstats['article_count']}}/{{pwstats['total_articles']}}</span>
                                </div>
                            
                            {% else %}
                                <div class="c-account-form__static-text">Free limited access.</div>
                            {% endif %} 



                            <hr class="divide divide--dark" />


                            {% if pwstats['status'] == 'cancelled' %}
                                {# STATUS #}
                                <div class="c-form__group u-margin-top-15 u-margin-bottom-30">
                                    <label class="c-form__label c-account-form__label" for="">Status</label>

                                    <!-- Use this for Paid -->
                                    <div class="c-account-form__static-text">
                                        <span class="c-account-form__static-text-{{pwstats['status']}}">{{ pwstats['status'] | capitalize }}</span>
                                        <p class="c-account-form__cancel-msg">Your account may be removed after 30 days.</p>
                                    </div>

                                </div>
                                    
                                <hr class="divide divide--dark" />

                                   
                                {# NEXT PAYMENT #}
                                
                                

                                {% if pwstats['type'] == 'time' %}
                                    <div class="c-form__group no-margin-bottom u-margin-top-15">
                                        <label class="c-form__label c-account-form__label" for="">Next payment</label>
                                        <div class="c-account-form__static-text">{{ pwstats['expiry_date']}}</div>
                                    </div>
                                    <hr class="divide divide--dark" />
                                {% endif %} 


                                <ul class="c-paywall-card__Details c-paywall-card__Details-md">
                                    <li>{{(pwstats.description|replace({'@': '</li><li>'}))|raw}}</li>
                                </ul>

                                <hr class="divide divide--dark" />

                                <div class="c-current-plan__spacer"></div>

                                <div class="c-current-plan__subscription-buttons">
                                    <a id="change-plan" href="#plans" class="c-button c-button--red c-button--2line">Choose Subscription</a>                                    
                                    <a id="cancelAccount" href="#" class="c-button c-button--red--bordered c-button--2line">Restart Subscription</a>
                                    
                                </div>
                            {% else %}
                                {# STATUS #}

                                {# Note: there is an else directly after the if #}
                                {% if pwstats['type'] == 'article' and pwstats['status'] != 'trial' %}{% else %}
                                    <div class="c-form__group u-margin-top-15">
                                        <label class="c-form__label c-account-form__label" for="">Status</label>

                                        <!-- Use this for Paid -->
                                        {% if pwstats['type'] == 'time' %}
                                            <div class="c-account-form__static-text">
                                                <span class="c-account-form__static-text-{{pwstats['status']}}">{{ pwstats['status'] | capitalize }}</span>
                                            </div>
                                        {% elseif pwstats['type'] == 'article' %}
                                            <div class="c-account-form__static-text">
                                                <span class="c-account-form__static-text-{{pwstats['status']}}">{{ pwstats['status'] | capitalize }}</span>
                                            </div>
                                        {% else %}
                                            <div class="c-account-form__static-text">
                                                <span class="c-account-form__static-text-{{pwstats['status']}}">Free account</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <hr class="divide divide--dark" />
                                {% endif %}


                                    {# USERS #}
                                    {# <div class="c-form__group u-margin-top-15">
                                        <label class="c-form__label c-account-form__label" for="">Users</label>
                                        <div class="c-account-form__static-text">{{ pwstats['user_count'] }}</div>
                                    </div> #}


                                {# NEXT PAYMENT #}
                                {% if pwstats['type'] == 'time' %}
                                    <div class="c-form__group no-margin-bottom u-margin-top-15">
                                        <label class="c-form__label c-account-form__label" for="">Next payment</label>
                                        <div class="c-account-form__static-text">{{ pwstats['expiry_date']}}</div>
                                    </div>
                                    <hr class="divide divide--dark" />
                                {% endif %} 

                                <ul class="c-paywall-card__Details c-paywall-card__Details-md">
                                    <li>{{(pwstats.description|replace({'@': '</li><li>'}))|raw}}</li>
                                </ul>



                                {# <div class="">
                                    <label class="c-form__label c-account-form__label" for="">Payment method</label>
                                    <div class="c-account-form__static-text">credit card/**** **** **** {{ pwstats['card_last_4']}}</div>
                                </div>

                                <hr class="divide divide--dark" /> #}

                                <div class="c-current-plan__spacer"></div>

                                <div class="c-current-plan__subscription-buttons">
                                    <a id="change-plan" href="#plans" class="c-button c-button--red c-button--2line">Choose Subscription</a>
                                    <a id="cancelAccount" href="#" class="c-button c-button--red--bordered c-button--2line">Cancel subscription</a>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>








                {# ****************************************************
                                CHANGE PLANS
                **************************************************** #}
                {% set cardSupplied = pwstats['card_last_4'] ? 't' : 'f' %}
                {% set planStyle = showPlans ? "" : "display:none" %}
                <div id="plans" class="row u-margin-top-60" style="{{planStyle}}" data-card-details="{{cardSupplied}}">
                    <div class="col-12">
                        <h2 class="c-myAccount__head">Choose subscription</h2>
                        {% if pwstats['userManager'] == true or pwstats['user_role']['IsSystemAdmin'] %}

                            {% set totalPlanUserCount       = pwstats['user_count'] %}
                            {% set managedUsersObj          = _User.getPaywallManagedUsers({"limit": userLimit}) %}
                            {% set managedUsers             = managedUsersObj %}

                            {% set managedUserCount = managedUsers | length %}
                            {% if managedUsersObj['totalCount'] is defined %}
                                {% set managedUserCount = managedUsersObj['totalCount'] %}
                            {% endif %}

                            <div class="c-plans">
                                {% set break = false %}

                                {% for plan in plans if not break %}
                                

                                    {# {% if pwstats['status'] != 'paid' and pwstats['status'] != 'trial' %} #}
                                    {% set selected = '' %}
                                    {% set userCount = plan.user_count %}
                                    {% set planCost = plan.plan_value / 100 %}
                                    {% if planCost == 19.89 %}
                                        {% set planCost = 19.90 %}
                                    {% endif %}
                                    {% if planCost == 0 %}
                                        {% set planCost = "FREE" %}
                                    {% endif %}
                                    {% if plan.guid == pwstats['plan_guid'] %}
                                        {% set selected = 'selected' %}
                                    {% endif %}
                                    
                                    <div class="c-plans__block c-plans__block-xs {% if selected == 'selected' %} selected {% endif %}  j-setplan ">
                                        <div class="c-paywall-card__panel">
                                            <h3 class="c-paywall-card__name c-paywall-card__name-xs">{{plan.plan_name}}</h3>
                                            {# <p class="c-paywall-card__excerpt c-paywall-card__excerpt-xs">{{plan.description}}</p> #}
                                            <div class="c-paywall-card__price c-paywall-card__price-lg">{% if planCost != 'FREE' %}${% endif %}{{planCost}}</div>
                                        </div>


                                                                           

                                        <div class="c-paywall-card__panel">
                                            <ul class="c-paywall-card__Details c-paywall-card__Details-md">
                                                <li>{{(plan.description|replace({'@': '</li><li>'}))|raw}}</li>
                                            </ul>
                                        </div>
                                        
                                        {% set buttonClass = selected ? "c-button--red" : "c-button--lightgrey" %}

                                        <a href="javascript:;" class="c-button {{buttonClass}} c-plans__button c-plans__button--{{ selected }}">
                                            {% if selected %} 
                                                Your plan 
                                            {% else %} 
                                                Subscribe 
                                            {% endif %}
                                        </a>
                                        
                                        <input type="hidden" id="planid"        value="{{plan.guid}}">
                                        <input type="hidden" id="planusercount" value="{{userCount}}">
                                        <input type="hidden" id="plancost"      value="{{plan.plan_value}}">
                                        <input type="hidden" id="planperiod"    value="{{plan.period}}">
                                        <input type="hidden" id="planperiodcount" value="{{plan.period_count}}">
                                        <input type="hidden" id="currentcost"   value="{{pwstats['plan_value']}}">
                                        <input type="hidden" id="currentperiod" value="{{pwstats['period']}}">
                                        <input type="hidden" id="currentperiodcount" value="{{pwstats['period_count']}}">
                                        <input type="hidden" id="currentusers"  value="{{managedUserCount}}">
                                        <input type="hidden" id="expdate"       value="{{pwstats['expiry_date']}}">
                                        <input type="hidden" id="plantype"       value="{{plan['type']}}">
                                        <input type="hidden" id="_csrf"         value="{{_AppHelper.getCsrfToken()}}"> 
                                    </div>
                                    {# {% set break = true %} #}
                                {% endfor %}

                            </div>
                                
                        {% endif %}

                    </div>
                </div>





                <div class="row u-margin-top-60">
                    <div class="col-12">

                        <form id="update-card-form" action="/update" method="post">
                            <div class="">
                                <h2 class="c-myAccount__head">Credit card details</h2>

                                <div class="three-column">
                                    <div id="card-element">
                                    <!-- a Stripe Element will be inserted here. -->
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class=" no-margin-bottom u-margin-top-15">
                                <button type="submit" id="btnContact" class="c-button c-button--lightgrey" name="contact-button">Update</button>
                            </div>
                        </form>

                    </div>
                </div>







                {% if purchases | length > 0 %}
                    <div class="row u-margin-top-60">
                        <div class="col-12">

                            <h2 class="c-myAccount__head">Photo purchases</h2>

                            <div class="row">

                                <div id="" class="col-md-12">
                                    {% for purchase in purchases %}

                                        {% for item in purchase['items'] %}
                                            {% set photo = item['photo'] %}

                                            {% set url = _Media.getMediaUrl({
                                                "id": photo['cloudinary_public_id'],
                                                "cloudName" : photo['cloudinary_cloud_name'],
                                                "path" : photo['path']
                                            },95, 63, {'crop': 'fill', 'gravity': 'faces'} ) %}
                                            {% set filesize = (photo.filesize / 1000) | number_format(0, '.', ',') %}


                                            <div class="purchase">
                                                <img class="purchase__image" src="{{url}}" />
                                                <p class="purchase__caption">{{photo.caption}}</p>
                                                <p class="purchase__filesize">{{filesize}}MB</p>
                                                <a class="purchase__download" href="{{photo.path}}" target="_blank"><span class="arrow arrow-down"></span></a>
                                            </div>

                                        {% endfor %}


                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}





                </div>
            </div>

            {# ad go here #}
            <div class="offset-lg-1 col-lg-3"></div>
        </div>
    </div>

</main>





<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {



        $("#change-plan").click(function(e) {
            $("#plans").toggle();
        });


        Acme.userController = new Acme.UserProfileController();

        Acme.userFeed = new Acme.View.articleFeed({
            container       : 'managedUsers',
            offset          : 10,
            limit           : 10,
            model           : Acme.userController,
            name            : 'user-load',
            label           : 'Load more',
            loadtype        : 'user',
            card_class      : 'userdetails',
            cardTemplate    : 'managed_user'
        });

    });
</script>



<!-- //End User Profile Page -->