{{ set(this, 'title', name) }}
{% set flash = _AppHelper.getFlashMessages() %}

{% set messages = "" %}
{% for error in flash %}
    {% for k,ms in error %}
        {% for m in ms %}
            {% set messages = messages ~ k ~ ": " ~ m %}
        {% endfor %}
    {% endfor %}
{% endfor %}


{% set networkData = _Network.getNetworkData() %}
{% set config      = _Network.getThemeConfig() %}
{% set email = 'admin' %}
{% if networkData.title == "Sunraysia Daily" %}
    {% set email = 'online' %}
{% endif %}

<div class="container  u-margin-bottom-60 c-error__toppanel">
    
    <div class="row">
        <div class="col-12">

            <div class="c-error">
                <h1 class="c-error__title">Sorry!</h1>
            </div>
        
        </div>
    </div>
</div>
<div class=" c-error__bottompanel">
    <div class="container">
        
        <div class="row">
            <div class="col-12">

                <div class="c-error u-margin-bottom-60">
                    <p class="c-error__message">That story is no longer available or has been moved.</p>
                    <p class="c-error__messagelow">
                        Please use the menu above to help find what you are looking for.<br />
                        If the story is more than 12 months old it may not be available.<br /><br />
                        For further help, contact <a href="mailto:{{email}}@{{networkData.title|lower|replace({' ':''}) }}.com.au">{{email}}@{{networkData.title|lower|replace({' ':''}) }}.com.au</a> 
                    </p>
                </div>
            
            </div>



            
        </div>
    </div>
</div>
    
