{% import "partials/quotes.twig" as quotes %}

{{ set(this, 'title', event.title) }}
{{this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'})}}
{% set blogInfo = _Blog.getBlog() %}



{% set networkData = _Network.getNetworkData() %}


{% set eventImage = false %}
{% if event.media | length > 0 %}
    {% set eventImage = _Media.getMediaUrl(event.media[0], 1094, 515, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}

{% set startDate = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'l, jS F') %}
{% set startTime = _AppHelper.getDefaultTimezoneDateTime(event.startDate, ' g:ia') %}

{% set endDate = '' %}
{% set endTime = '' %}
{% if event.endDate %}
    {% set endDate = _AppHelper.getDefaultTimezoneDateTime(event.endDate, 'j F Y') %}
    {% set endTime = _AppHelper.getDefaultTimezoneDateTime(event.endDate, ' g:ia') %}
    {% set difference = date(event.endDate).diff(date(event.startDate)) %}
    {% set leftDays = difference.days %}
{% endif %}

{% set em = "<strong><em>" %}
{% set emclose = "</em></strong>" %}

{% set timeString = em ~ startDate ~ emclose ~ startTime  %}
{% if endDate != "" and leftDays == 0 %}
    {% set timeString = timeString ~ " - " ~ endTime  %}
{% endif %}

{% if endDate != "" and leftDays > 0 %}
    {% set timeString = timeString ~ " to " ~ em ~ endDate ~ emclose ~ endTime  %}
{% endif %}



{% set date = date() %}
{% set events = _Event.getEvents({"limit": 4, "start_date": date.date | split(" ")[0]}) %}


<div class="u-tablet-margin-top-40 u-desktop-margin-top-60">

    <div class="container"> 
        <div class="row">
            
            
            <div class="col-12 col-md-12 col-lg-7 col-xl-6 offset-xl-1">
                <div class="c-eventdetail">

                    {% if eventImage %} 

                        <div class="gallery-container relative">
                            {% if event.media|length > 0 %}
                                {{this.render('partials/gallery.twig', {
                                    media: event.media,
                                    galleryStyle: 'gallery',
                                    showPaywall: showPaywall
                                }) | raw}}
                            {% endif %}
                        </div> 

                    {% endif %}
                    
                    
                    <div class="c-eventdetail__head">


                        <a href="{{ networkData.defaultBlogUrl }}/@events">
                            <div class="c-eventdetail__category">
                                Events
                            </div>
                        </a>
                        <div class="c-eventdetail__title">
                            {{ quotes.smarten(event.title) }}  
                        </div>
                    </div>


                    <div class="c-eventdetail__container">



                        <div class="row u-margin-bottom-30">
                            <div class="col-md-5">
                                <div class="c-eventdetail__info-item">
                                    <span class="c-eventdetail__info-icon c-eventdetail__info-icon--calandar"></span>
                                    <div>
                                        <p class="c-eventdetail__info-text">{{ timeString | raw}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 u-mobile-margin-top-20">
                                <div class="c-eventdetail__info-item">
                                    <span class="c-eventdetail__info-icon c-eventdetail__info-icon--location"></span>
                                    <div>
                                        <p class="c-eventdetail__info-text">{{ event.address.address1 }}</p>
                                        <p class="c-eventdetail__info-text">{{ event.address.suburb }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-12">
                                <div class="c-eventdetail__content c-article__container">
                                    {{ event.content | raw }}
                                </div>
                            </div>



                        </div>
                    </div>
                </div>  
            </div> 


            <div class="col col-md-3 offset-md-1 c-events">
                <div class="o-body-container__right-layout">
                    {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                        <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="side-fix"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    {% if event.latitude and event.longitude %}
        <div class="event-map u-margin-top-60">
            <div id="addressMap" data-latitude="{{event.latitude}}" data-longitude="{{event.longitude}}" style="width:100%;min-height:500px;background:rgba(0,0,0,.3)"></div>
        </div>
    {% endif %}




    {% set theKeywords = '' %}
    {% if article.keywords is defined and article.keywords != '' %}
        {% set theKeywords = article.keywords %}
    {% elseif blogInfo.keywords is defined and blogInfo.keywords != '' %}
        {% set theKeywords = blogInfo.keywords %}
    {% endif %}
    <div class="j-keyword-cont" data-keywords="{{theKeywords}}"></div>
</div>


{% if event.latitude and event.longitude %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRILYoQMiSjf_1Q_DhL199ha5w410AOLU" type="text/javascript"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            Acme.eventMap = new Acme.GoogleMap();
        });
    </script>
{% endif %}