{{ set(this, 'title', _Blog.getBlogTitle()) }}

{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}

{% set jobsBlogId = blogData.additionalInfo['publishto'] %}

{# {{this.registerJs("window.Acme.cards = CardController();")}}
{{this.registerJs("Acme.propertyForm = new Acme.PropertyForm(["~jobsBlogId~"], 'Single Property Listing');")}}
{{this.registerJs("Acme.listingView.init("~jobsBlogId~", 'property');")}}
{{this.registerJs("Acme.listingCollection = new Acme.listingCollectionClass('listingCollection', "~jobsBlogId~");")}} #}




{% set limit = 10 %}

{% set user = false %}


{% set userScript = "" %}
{% if not _User.isGuest %} 
    {% set user = _User.getUser() %}
    {% set userScript = "window.Acme.currentUser = '" ~ user.guid ~ "';" %}
{% endif %} 

{% set userArticlesArr = [] %}
{% if user %}                                                                  {# 117 is properties listings blog id #}
    {% set userArticlesArr = _User.getUserArticles(user.guid, 0, limit, {'blogs':[jobsBlogId], 'status': '-1'}) %}
{% endif %}





<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}



<main id="main" class="o-body-container o-body-container-md u-margin-top-60" role="main">
        
    <div class="container">

        <div class="row">
            
            <div class="col-9 col-lg-6">
                
                <div class="c-page-info__title">Submit an listing</div>
                <div class="c-page-info__discription">
                    <p>Optio ipidus imillenda perferum quas simoluptur. Nam etus aut laborate ventior am ad qui sam exceped minum quis imperumque parum, 
                si cusandam audigni hillaut re nihillo riasit eum neuarum si cusandam audigctat. </p>
                </div>




                <form id="listingForm" class="c-form c-property-form" action="#" method="post" autocomplete="off">
                    <div class="row">

                        {# ADDRESS #}
                        <div class="col-9 u-margin-bottom-15">
                            <input id="title" class="c-form__input c-form__input--bordered articleExtendedData" name="title" placeholder="Address*" aria-required="true" type="text">
                            <div class="c-form__help-block">We need an address for this listing</div>
                        </div>


                        {# Location #}
                        <div class="col-9 u-margin-bottom-15">
                            <input id="location" class="c-form__input c-form__input--bordered articleExtendedData" name="extendedData.location" placeholder="City/Town" aria-required="true" type="text" >
                            <div class="c-form__help-block">Can you please add a city to your listing?</div>
                        </div>
                        

                        {# <div id="countrySelect" class="Acme-pulldown"></div> #}
                        
                        {# RENT/BUY #}
                        <div class="col-9 u-margin-bottom-15">
                            <div id="buySelect" class="Acme-pulldown c-property-form__pulldown c-form__input c-form__input--bordered"></div>
                        </div>
                        

                        {# PRICE #}
                        <div class="col-9 u-margin-bottom-15">
                            <input id="pricerange" class="c-form__input c-form__input--bordered articleExtendedData" name="extendedData.pricerange" placeholder="Price $*" aria-required="true" type="text">
                            <div class="c-form__help-block">Please enter a price</div>
                        </div>


                        {# BEDROOM COUNT #}
                        <div class="col-9 u-margin-bottom-15">
                            <input id="bedroom_count" class="c-form__input c-form__input--bordered articleExtendedData" name="extendedData.bedroom_count" placeholder="Number of bedrooms" type="text">
                            <div class="c-form__help-block">We're looking for number here</div>
                        </div>


                        {# BATHROOM COUNT #}
                        <div class="col-9 u-margin-bottom-15">
                            <input id="bathroom_count" class="c-form__input c-form__input--bordered articleExtendedData" name="extendedData.bathroom_count" placeholder="Number of bathrooms" type="text">
                            <div class="c-form__help-block">We're looking for number here</div>
                        </div>


                        {# CAR COUNT #}
                        <div class="col-9 u-margin-bottom-15">
                            <input id="car_count" class="c-form__input c-form__input--bordered articleExtendedData" name="extendedData.car_count" placeholder="Number of carparks" type="text">
                            <div class="c-form__help-block">We're looking for number here</div>
                        </div>


                        {# ORGANISATION #}
                        <div class="col-9 u-margin-bottom-15">
                            <input id="contactcompany" class="c-form__input c-form__input--bordered articleExtendedData" name="extendedData.contactcompany" placeholder="Agency or Company name" aria-required="true" type="text">
                            <div class="c-form__help-block"></div>
                        </div>


                        {# CONTACT #}
                        <div class="col-9 u-margin-bottom-15">
                            <input id="contactname" class="c-form__input c-form__input--bordered articleExtendedData" name="extendedData.contactname" placeholder="Contact name*" aria-required="true" type="text">
                            <div class="c-form__help-block">Please provide a contact name</div>
                        </div>


                        {# PHONE #}
                        <div class="col-9 u-margin-bottom-15">
                            <input id="contactphone" class="c-form__input c-form__input--bordered articleExtendedData" name="extendedData.contactphone" value="" placeholder="Contact number" type="text">
                            <div class="c-form__help-block"></div>
                        </div>


                        {# EMAIL #}
                        <div class="col-9 u-margin-bottom-15">
                            <input  id="contactemail" class="c-form__input c-form__input--bordered articleExtendedData" name="extendedData.contactemail" value="" placeholder="Contact email" type="text">
                            <div class="c-form__help-block"></div>
                        </div>


                        {# CONTENT #}
                        <div class="col-9 u-margin-bottom-15">
                            <textarea id="content"  name="content" class="c-form__input c-form__input--bordered articleExtendedData" placeholder="Description*" aria-required="true" type="text"></textarea>
                            <div class="c-form__help-block">The content for the listing must be provided</div>
                        </div>


                        {# IMAGES #}
                        <div class="col-9">
                            <ul id="imageArray" data-media="" class="carousel-tray"></ul>
                        </div>


                        <div class="col-9">
                            <div id="uploadFileBtn" data-imgcls="images" data-id="imageArray" class="c-upload-image">
                                <p class="c-upload-image__label" >Upload image</p>
                                <p class="c-upload-image__restrictions">JPEG Maximum 5MB</p>
                            </div>

                        </div>


                        <div class="col-9 c-form__buttons c-form__buttons--left c-form__group c-form__group--horizontal u-margin-bottom-15">
                            <button type="reset"  id="listingFormClear" class="c-button c-button--inline c-button--rounded c-button--blue-bordered u-margin-right-10" name="">Cancel</button>
                            <button type="submit" id="listingFormSubmit" class="c-button c-button--inline  c-button--rounded c-button--blue u-margin-right-10" name="">Submit</button>
                            <button type="button" id="listingFormDelete" class="c-button c-button--inline  c-button--rounded c-button--blue" name="" style="display:none;">Delete</button>
                        </div>
                    </div>
                </form>
            </div>



            <div class="col-9 col-md-3">
                <div class="o-body-container__right-layout">

                    <h2 id="userlistingsrefresh" class="c-page-info__column-title u-margin-bottom-30">YOUR LISTINGS</h2>

                    <div  id="userListings" class="">
                        
                        {% for article in userArticlesArr %}

                            {{this.render('partials/_single-article.twig', {
                                article: article, 
                                position: loop.index,
                                behaviour: 'noclick',
                                imageSize: {width: 75, height: 63},
                                networkData: networkData,
                                containerClass: "card-7-mobile card-7-tablet card-7-desktop j-listingCard"
                            }) | raw}}
                            
                            <hr class="u-divide"> 

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="j-keyword-cont" data-keywords="{{blogData.keywords}}"></div>
</main><!-- .site-main -->



<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        Acme.cards = CardController();
        Acme.propertyForm = new Acme.PropertyForm([{{jobsBlogId}}], 'Single Property Listing');
        Acme.listingView.init({{jobsBlogId}}, 'property');
        Acme.listingCollection = new Acme.listingCollectionClass('listingCollection', [{{jobsBlogId}}]);
       {{userScript | raw}}
    });
</script>
