{{ set(this, 'title', _Blog.getBlogTitle()) }}

{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set eventBlogId  = blogData.additionalInfo['publishto'] %}

{% set limit = 10 %}

{% set user = false %}

{{this.registerJsFile("https://maps.googleapis.com/maps/api/js?key=AIzaSyCRILYoQMiSjf_1Q_DhL199ha5w410AOLU")}}


{% set userScript = "" %}
{% if not _User.isGuest %} 
    {% set user = _User.getUser() %}
    {% set userScript = "window.Acme.currentUser = '" ~ user.guid ~ "';" %}
{% endif %} 

{% set userArticlesArr = [] %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}



<main id="main" class="o-body-container o-body-container-md u-margin-top-60" role="main">
        
    <div class="c-submitevent">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    
                    <div class="c-section-header">Events</div>

                    <div class="c-submitevent-container">
                        <div class="c-page-info">
                        <div class="c-page-info__title">Submit an event</div>
                        <div class="c-page-info__discription">
                            <p>Fields marked with an * are required. </p>
                        </div>
                    </div>

                </div>

                <div class="c-event-form">
                    <div class="">
                        <form id="event-form" action="#" method="post" autocomplete="off">
                            <div class="row">

                                {# NAME #}
                                <div class="col-12 c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="firstname">Name of event*</label>
                                    <input id="title" class="c-form__input c-form__input--bordered articleExtendedData" name="title" placeholder="eg. Mildura Farm Festival" aria-required="true" type="text">
                                    <div class="c-form__help-block"></div>
                                </div>

                                {# START DATE #}
                                <div class="col-12 col-md-6 c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="start_date">Start date*</label>
                                    <input type="text" class="c-form__input c-form__input--bordered articleExtendedData" name="start_date" id="start_date" value="">
                                    <div class="c-form__help-block"></div>
                                </div>

                                {# END DATE #}
                                <div class="col-12 col-md-6  c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="end_date">End date*</label>
                                    <input type="text" class="c-form__input c-form__input--bordered articleExtendedData" name="end_date" id="end_date" value="" placeholder="">
                                    <div class="c-form__help-block"></div>
                                </div>


                                {# ADDRESS #}
                                <div class="col-12 col-md-6 c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="address">Street address*</label>
                                    <input id="address1" class="c-form__input c-form__input--bordered articleExtendedData" name="address1" placeholder="Street address*" aria-required="true" type="text">
                                    <div class="c-form__help-block"></div>
                                </div>
                                

                                {# SUBURB #}
                                <div class="col-12 col-md-split col-lg-split c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="suburb">Suburb*</label>
                                    <input id="suburb" class="c-form__input c-form__input--bordered " name="suburb" placeholder="Suburb" aria-required="true" type="text">
                                    <div class="c-form__help-block"></div>
                                </div>

                                {# STATE #}
                                <div class="col-12 col-md-6 c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="state">State*</label>
                                    <input id="state" class="c-form__input c-form__input--bordered articleExtendedData" name="state" placeholder="State*" aria-required="true" type="text">
                                    <div class="c-form__help-block"></div>
                                </div>
                                <div class="col-12 col-md-6 c-form__group u-margin-bottom-15">
                                </div>



                                {# CONTACT NAME #}
                                <div class="col-12 col-md-6 c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="contact-name">Contact name*</label>
                                    <input id="contact_name" class="c-form__input c-form__input--bordered articleExtendedData" name="contactname" placeholder="eg. Mary Smith" aria-required="true" type="text">
                                    <div class="c-form__help-block"></div>
                                </div>


                                {# CONTACT NUMBER #}
                                <div class="col-12 col-md-6 c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="contact-number">Contact number*</label>
                                    <input id="contactnumber" class="c-form__input c-form__input--bordered articleExtendedData" name="contactnumber" placeholder="eg. 61 433 333 333" aria-required="true" type="text">
                                    <div class="c-form__help-block"></div>
                                </div>

                                {# CONTACT E'MAIL #}
                                <div class="col-12 col-md-6 c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="contact-email">Email address*</label>
                                    <input id="contact-email" class="c-form__input c-form__input--bordered articleExtendedData" name="contactnumber" placeholder="eg. johnsmith@gmail.com" aria-required="true" type="text">
                                    <div class="c-form__help-block"></div>
                                </div>


                                {# DESCRIPTION #}
                                <div class="col-12 c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" for="contact-email">Event description*</label>
                                    <textarea id="content"  name="content" class="c-form__input c-form__input--bordered c-event-form_description articleExtendedData" placeholder="Event description*" aria-required="true" type="text"></textarea>
                                    <div class="c-form__help-block"></div>
                                </div>


                                {# UPLOAD PHOTO #}
                                <div class="col-12 col-md-6 c-form__group u-margin-bottom-15">
                                    <label class="c-form__label" >Upload file</label>
                                    <div id="uploadFileBtn" data-imgcls="images" data-id="imageArray" class="c-upload-image u-margin-bottom-50">
                                        <p class="c-upload-image__label" >Upload image</p>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div id="imageArray" class="col-12 col-md-6  u-margin-bottom-15"></div>
                            </div>


                            <div class="row">
                                <div class="col-12 col-md-4 c-form__group u-margin-bottom-15">
                                    <p class="c-form__label" >Requirements</p>
                                    <ul>
                                        <li>JPG images only with .JPG extension</li>
                                        <li>Minimum width: 620 pixels</li>
                                        <li>JPG Quality: Medium/high or 80%</li>
                                        <li>File size: Approximately 150kb</li>
                                    </ul>
                                </div>

                                <div class="col-12 u-margin-bottom-15">
                                    <button type="submit" id="" class="c-button c-button--inline c-button--blue-bordered" name="">Cancel</button>
                                    <button type="submit" id="" class="c-button c-button--inline c-button--grey" name="">Submit</button>
                                </div>



                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3">
            <div class="o-body-container__right-layout">
                <figure> 
                <img src="https://images.unsplash.com/photo-1495107334309-fcf20504a5ab?ixlib=rb-1.2.1&w=1000&q=80"class="img-fluid" alt="dummy image"> 
            </figure>
          </div>
        </div>

    </div>

    <div class="j-keyword-cont" data-keywords="{{blogData.keywords}}"></div>
</main><!-- .site-main -->


{# {{this.registerJs("Acme.eventMap = new Acme.GoogleMap();")}} #}

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {

        Acme.eventForm = new Acme.EventForm({
           blogId: [{{eventBlogId}}],
           form: "event-form"
        });
       {{userScript | raw}}
    });
</script>
