{% set networkData = _Network.getNetworkData() %}
{% set plans 		= networkData['paywallPlans'] %}
{% set blogData		= _Blog.getBlog() %}
{% set blogName      = blogData.title %}


{% set plan = false %}
{% set trial = false %}
{% set code = false %}
{% set trialPeriod = '14' %} {# 14 days is default in the platform #}
{% set url = _AppHelper.getParsedUrl() %}
{% set params = url['query'] %}

{# c54b5f8d-f9b5-4b59-b8ca-555f822d0448 #}



{% set break = false %}
{% for k, p in params if not break %}

    {% if k == 'plan' %}
        {% for pl in plans %}
            {% if pl.guid == p %}
                {% set plan = pl %}
                {% set break = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if k == 'trial' %}
        {% if p == 'true' and plan['trial_status'] == '1' %}
            {% set trial = true %}
            {% set trialPeriod = plan['trial_period'] %}
            {% set break = true %}
        {% endif %}
    {% endif %}

    {% if k == 'code' %}
        {% if p == 'true' %}
            {% set code = true %}
            {% set break = true %}
        {% endif %}
    {% endif %}

{% endfor %}







{# {{this.registerJs("var signin = new Acme.Signin('signinForm', '#signin');")}} #}
{# {{this.registerJs("var signup = new Acme.Signup();")}} #}
 

<main id="main" class="site-main u-margin-bottom-100" role="main">
	<div id="stripekey" class="hidden" >{{networkData['stripe_publishable_key']}}</div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-centered">
                <div class="c-paywall-header u-text-center">
                    <div class="c-paywall-header__title">Subscribe to Sunraysia Daily</div>
                    <div class="c-paywall-header__subtitle">You deserve the full story.</div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Hero Banner -->


    <div class="clearfix"></div>
    <div class="c-payWall">

        {% if plans | length > 0 %}
        <div class="c-payWall--pricing c-payWall--pricing-md">

            <div class="container u-margin-top-100">

                <div class="row u-margin-top-100 u-tablet-margin-top-40">
                    
                    <div class="offset-lg-1 col-lg-10" style="background:yello">
                        <div class="row c-payWall--pricing__planbox justify-content-md-center">
                            
			                {% for plan in plans %}
                               

                                {% set val = plan.plan_value / 100 %}
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="c-paywall-card">
                                        
                                        <div class="c-paywall-card__panel">
                                            <h3 class="c-paywall-card__name c-paywall-card__name-xs">{{plan.name}}</h3>
                                            {# <p class="c-paywall-card__excerpt c-paywall-card__excerpt-xs">{{plan.description}}</p> #}
                                            <div class="c-paywall-card__price c-paywall-card__price-lg">${{val}} per {{plan.period}}</div>
                                        </div>


                                                                           

                                        <div class="c-paywall-card__panel">

                                            <ul class="c-paywall-card__Details c-paywall-card__Details-md">
                                                <li>{{(plan.description|replace({'.': '</li><li>'}))|raw}}</li>
                                            </ul>

                                            <button type="button" 
                                                    class="c-button c-button--grey c-button-block c-button-md j-plan-subscribe c-paywall-card__subscribe" 
                                                    data-plan-name="{{plan.name}}" 
                                                    data-planid="{{plan.guid}}"
                                                    data-cost="${{val}}"
                                                    {% if plan.trial_status == "1" %}
                                                        data-trial=1
                                                    {% else %}
                                                        data-trial=0
                                                    {% endif %}
                                            >Subscribe</button>
                                            {% if plan.trial_status == "1" %}
                                                <div class="c-button" style="color:#4573cd;background-color:#fff;cursor:unset;">Includes {{plan.trial_period}}-day trial</div>
                                            {% else %}
                                                <div class="c-button" style="color:#fff;background-color:#fff;cursor:unset;"></div>
                                            {% endif %}


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="trial" value=0></div>
        {% endif %}
    </div>






    <div class="clearfix"></div>
    <div class="container">
        <div class="row u-margin-top-30">
            <div class="col-12 col-lg-8">
                <!-- Coustomer detail form  Section start -->
                <div class="c-paywallform">
                    <form id="subscribe-form" class="c-form">
                        <input type="hidden" class="" name="planid" id="planid" value="">
                        <input type="hidden" class="" name="trial" id="trial" value="">

                        <div class="row u-margin-top-60 u-mobile-margin-top-80">
                            <div class="col-12">
                                <div class="c-section-header c-section-header--normal-case">Your details</div>
                            </div>
                            <div class="col-12">
                                <div class="c-formnotice">Fields marked with an * are required.</div>
                            </div>
                        </div>

                        <div class="row u-margin-top-20">
                            <div class="col-md-6">
                                <div class="">
                                    <label class="c-form__label" for="firstname">First name*</label>
                                    <input class="c-form__input c-form__input--bordered" type="text" id="firstname" placeholder="eg. John" name="firstname" required>
                                    <div class="c-form__help-block">Please fill out this field.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label class="c-form__label" for="firstname">Last name*</label>
                                    <input class="c-form__input c-form__input--bordered" type="text" id="lastname" placeholder="eg. Smith" name="lastname" required>
                                    <div class="c-form__help-block">Please fill out this field.</div>
                                </div>
                            </div>

                            <div class="col-md-6 u-margin-top-10">
                                <div class="">
                                    <label  class="c-form__label" for="firstname">Email address*</label>
                                    <input class="c-form__input c-form__input--bordered" type="email" id="email" placeholder="eg. johnsmith@gmail.com" name="email" required>
                                    <div class="c-form__help-block">Please fill out this field.</div>
                                </div>
                            </div>
                            <div class="col-md-6 u-margin-top-10">
                                <div class="">
                                    <label class="c-form__label" for="normalselect">Subscription</label>
                                    <input id="subscription_choice" class="c-form__input c-form__input--bordered" type="text" id="" placeholder="Choose a plan from above" name="subscription_choice" readonly>
                                    <div class="c-form__help-block">Please fill out this field.</div>
                                </div>
                            </div>

                            <div class="col-md-6 u-margin-top-10">
                                <div class="">
                                    <label class="c-form__label" for="firstname">Password*</label>
                                    <input class="c-form__input c-form__input--bordered" type="text" id="password" placeholder="Password (must be at least five characters)" name="password" required>
                                    <div class="c-form__help-block">Password (must be at least six characters)</div>
                                </div>
                            </div>
                            <div class="col-md-6 u-margin-top-10">
                                <div class="">
                                    <label class="c-form__label" for="firstname">Confirm password*</label>
                                    <input class="c-form__input c-form__input--bordered" type="password" id="verifypassword" placeholder="Password (must be at least five characters)" name="verifypassword" required>
                                    <div class="c-form__help-block">Password (must be at least six characters)</div>
                                </div>
                            </div>
                            
                            <div class="col-lg-12 u-margin-top-30">
                                <div class="button-set">
                                    <label>
                                        <input id="interested" name="interested" type="checkbox" class="validate[required]"> <span><!-- fake radio --></span> I am interested in receiving promotional offers from Sunraysia Daily
                                    </label>
                                </div>
                                <div class="button-set u-margin-top-10">
                                    <label>
                                        <input id="terms" name="terms" type="checkbox" class="validate[required]"> <span><!-- fake radio --></span> I agree to the <strong>Terms of Use</strong>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <!-- Totoal payment detail -->
                <div class="c-paywallpayment u-margin-top-80">
                    <div class="row">
                        <div class="col-12">
                            <div class="c-section-header c-section-header--normal-case">Payment</div>
                            <div class="u-margin-top-30">
                                {# <label class="control-label control-label-sm" for="creditcarddetails" style="font-weight:normal;">Please enter your credit or debit card details.</label> #}
                                
                                <div class="c-payment__types">
                                    <div class="c-payment__tab c-payment__tab--selected">
                                        <div class="c-payment__credit-img"></div>
                                        <p class="c-payment__credit-label">Credit Card</p>
                                    </div>
                                    <div class="c-payment__tab">
                                        <div class="c-payment__paypal-img"></div>
                                    </div>
                                </div>
                                
                                {% if  code %}
                                    <form action="/charge" method="post" id="payment-form">
                                        <div class="form-row ">
                                            <label for="code-redeem">Gift code </label>
                                            <input type="text" class="articleExtendedData" name="code-redeem" id="code-redeem" value="" placeholder="0a1b-2c3d-4e5f">
                                        </div>

                                {% else %}
                                    <form action="/charge" method="post" id="payment-form" class="stripe-form">
                                        <div class="" style="width:100%">
                                            <div id="card-element"><!-- a Stripe Element will be inserted here. --></div>
                                            <!-- Used to display form errors -->
                                            <div id="card-errors" class="c-form__help-block u-margin-top-10 u-font-size-14" role="alert" style="display:block"></div>
                                        </div>

                                {% endif %}


                                    <div class="c-totalpayvalue u-margin-top-40">
                                        <div class="c-totalpayvalue__title">Total</div>
                                        <div id="total_cost" class="c-totalpayvalue__value"></div>
                                    </div>


                                    <div class="form-group" style="margin-top:30px;">
                                        <button type="submit" id="subscribe" class="c-button c-button c-button--grey u-float-right">COMPLETE PURCHASE</button>
                                    </div>

                                </form>





                            </div>

                        </div>
                    </div>
                </div>
                <!-- Totoal payment detail -->
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-block c-paywall-card__Graphic c-paywall-card__Graphic-lg">
                <picture class="">
                    <img src   ="{{networkData.templatePath}}/static/images/device.png" 
                        srcset="{{networkData.templatePath}}/static/images/device.png 1x, {{networkData.templatePath}}/static/images/device@2x.png 2x, {{networkData.templatePath}}/static/images/device@3x.png 3x" class="img-fluid">
                </picture>
            </div>
        </div>
    </div>

</main>


<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function() {
        var signin = new Acme.Signin('signinForm', '#signin');
    });
</script>


