{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}



{% set limit = 18 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}




<main id="main" class="site-main u-margin-top-60 u-margin-bottom-60" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">

    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1 class="c-section-header">{{ _Blog.getBlogTitle() }}</h1>
            </div>
        </div>


        <div class="row">

            {% for i in 0..3 if articles[i] %}
                <div class="col-12 col-md-6 col-lg-3">
                    {% if articles[articleCount] %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 300, height: 228},
                            containerClass: "card-4-mobile card-2-tablet card-1-desktop card-1-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="col-12 col-md-6 col-lg-3"> 
                {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                    <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="side-fix"></div>
                {% endif %}
            </div>



        </div>



        <div class="row">

            {% for i in 0..3 if articles[i] %}
                <div class="col-12 col-md-6 col-lg-3">
                    {% if articles[articleCount] %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 300, height: 228},
                            containerClass: "card-4-mobile card-2-tablet card-1-desktop card-1-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endif %}
                </div>
            {% endfor %}


        </div>

        <div id="loadmore" class="row">
            {% for i in 0..9 if articles[articleCount] %}
                <div class="col-12 col-md-6 col-lg-3">
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 300, height: 228},
                    containerClass: "card-4-mobile card-2-tablet card-1-desktop card-1-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-12">
                {% if limit <= articleCount %}
                    {{ this.render('/partials/ajaxarticles_new.twig', {
                        name            : "section-load",
                        label           : "",
                        buttonClass     : "u-display-none",
                    }) | raw }}
                {% endif %}

                </div>
        </div>




    </div>
</main>


<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function() {



        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore',
            infinite        : true,
            label           : false,
            limit           : 12,
            offset          : 12,
            blogid          : blogData['guid'],
            name            : 'section-load', //name of the search button
            card_class      : 'col-12 col-md-3 card-4-mobile card-2-tablet card-1-desktop card-1-desktop-lg',
            non_pinned      : {{articleCount}}

        });

    });
</script>
