{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set plans = networkData['paywallPlans'] %}


{% set plan = false %}
{% set trial = false %}
{% set code = false %}
{% set trialPeriod = '14' %} {# 14 days is default in the platform #}

{% set url = _AppHelper.getParsedUrl() %}
{% set params = url['query'] %}

{# c54b5f8d-f9b5-4b59-b8ca-555f822d0448 #}



{% set break = false %}
{% for k, p in params if not break %}

    {% if k == 'plan' %}
        {% for pl in plans %}
            {% if pl.guid == p %}
                {% set plan = pl %}
                {% set break = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if k == 'trial' %}
        {% if p == 'true' and plan['trial_status'] == '1' %}
            {% set trial = true %}
            {% set trialPeriod = plan['trial_period'] %}
            {% set break = true %}
        {% endif %}
    {% endif %}

    {% if k == 'code' %}
        {% if p == 'true' %}
            {% set code = true %}
            {% set break = true %}
        {% endif %}
    {% endif %}

{% endfor %}


<main id="main" class="o-body-container o-body-container-md" role="main">
    <div id="stripekey" class="hidden" >{{networkData['stripe_publishable_key']}}</div>
    <div class="container">

        {% if plan != false  %}
            {% set val = plan.plan_value / 100 %}
            {% if val == 19.89 %}
                {% set val = 19.90 %}
            {% endif %}
            {% set planPrice = plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"}) ~ val|number_format(2, '.', ',') %}

            {% set frequency = plan.period_count > 1 ? plan.period_count : ""  %}

            {% set planPeriod = plan.period %}
            {% if plan.period_count > 1 %}
                {% set planPeriod = plan.period ~ 's' %}
            {% endif %}

            {% set frequency = frequency ~ " " ~ planPeriod  %}


            <div class="row">
                <div class="col-9 col-lg-6">
                    <div class="c-subscribe c-subscribe-xs">

                        {% if trial %}
                            <h2 class="c-subscribe__head">Start your 28-day free trial now</h2>
                            <div class="c-subscribe__text">
                                The free trial requires registration with a valid credit card. Arieor meai berkl jerrried nanie 
                                desqule and nneior  meai berkl jerrried nanie desqule ansioe meai berkl jerrried nanie desquleas, 
                                eop asmrop derioa. Beai berkl jerrried nanie desqule masioe.
                            </div>
                        {% else %}
                            <h2 class="c-subscribe__head">Subscribe now</h2>
                        {% endif %}


                        
                        <h4 class="c-subscribe__subhead">Your information</h4>
                        
                        <form class="horizontal-form form-contact contact__form" action="#" method="post" autocomplete="off">
							<input type="hidden" class="" name="planid" id="planid" value="{{plan.guid}}">
							<input type="hidden" class="" name="trial" id="trial" value="{{trial}}">


                            <div class="form-group form-group-sm has-error u-margin-bottom-15">
                                <input id="email" class="input__text" name="email" placeholder="Email" aria-required="true" type="email">
                                <div class="help-block">Please enter your email address</div>
                            </div>
                            
                            <div class="form-group form-group-sm u-margin-bottom-15">
                                <input id="first-name" class="input__text" name="firstname" placeholder="First Name" aria-required="true" type="text">
                                <div class="help-block"></div>
                            </div>
                            
                            <div class="form-group form-group-sm u-margin-bottom-15">
                                <input id="last-name" class="input__text" name="lastname" placeholder="Last Name" aria-required="true" type="text">
                                <div class="help-block"></div>
                            </div>
                            
                            <div class="form-group form-group-sm u-margin-bottom-15">
                                <input id="password" class="input__text" name="password" placeholder="Password (must be at least five characters)" aria-required="true" type="password" value="">
                                <div class="help-block"></div>
                            </div>
                            
                            <div class="form-group form-group-sm u-margin-bottom-15">
                                <input id="verifypassword" class="input__text" name="verifypassword" placeholder="Password verify" aria-required="true" type="password">
                                <div class="help-block"></div>
                            </div>
                            
                            <div class="form-group form-group-sm u-margin-bottom-15">
                                <input id="organisation" class="input__text" name="organisation" placeholder="Organisation (optional)" aria-required="true" type="text">
                                <div class="help-block"></div>
                            </div>
                            
                            <div class="form-group form-group-sm u-margin-bottom-15">
                            
                            
                                <div class="button-set c-checkbox u-margin-bottom-15">
                                    <input id="terms" name="terms" type="checkbox" class="c-checkbox__input validate[required]" />
                                    <label class="c-checkbox__label u-padding-top-3" for="terms">
                                        <span class="c-checkbox__button"></span>
                                        I agree to the <a href="{{networkData.defaultBlogUrl}}/conditions-of-use"><strong>Terms of Use and Cancellation Policy</strong></a>
                                    </label>
                                </div>

                            
                            
                            
                            
                            
                                <div class="button-set">
                                    <label><input id="terms" name="terms" type="checkbox" class="validate[required]"><span><!-- fake radio --></span> I agree to the <a href="{{networkData.defaultBlogUrl}}/conditions-of-use"><strong>Terms of Use</strong></a></label>
                                </div>
                            </div>
                            {# <div class="form-group form-group-sm u-margin-bottom-15">
                                <div class="button-set">
                                    <label><input id="alerts" name="alerts" type="checkbox" class="validate[required]"><span><!-- fake radio --></span> Send me daily email alerts</label>
                                </div>
                            </div> #}
                            
                        </form>

                        <div class="c-subscribe__subscription" style="margin-top:30px;">
                            <h4 class="c-subscribe__subhead">Payment details</h4>
                            <div class="form-group fullwidth">
                                <label class="control-label control-label-sm" for="creditcarddetails" style="font-weight:normal;">Please enter your credit or debit card details.</label>
                                
                                
                                
                                {% if  code %}
                                    <form action="/charge" method="post" id="payment-form">
                                        <div class="form-row ">
                                            <label for="code-redeem">Gift code </label>
                                            <input type="text" class="articleExtendedData" name="code-redeem" id="code-redeem" value="" placeholder="0a1b-2c3d-4e5f">
                                        </div>
                                        
                                        <div class="form-group" style="margin-top:30px;">
                                            <button type="submit" id="subscribe" class="c-button c-button--rounded c-button--blue">Subscribe</button>
                                        </div>
                                    </form>

                                {% else %}
                                    <form action="/charge" method="post" id="payment-form" class="stripe-form">
                                        <div class="form-row" style="width:100%">
                                            <div id="card-element"><!-- a Stripe Element will be inserted here. --></div>
                                            <!-- Used to display form errors -->
                                            <div id="card-errors" class="card-errors" role="alert"></div>
                                        </div>

                                        <div class="form-group" style="margin-top:30px;">
                                            <button type="submit" id="subscribe" class="c-button c-button--rounded c-button--blue">Subscribe</button>
                                        </div>
                                    </form>
                                {% endif %}
                                                
                                {# <div class="three-column">
                                    <div class="w490 w490-xs"><input id="creditcarddetails" class="input__text" name="creditcarddetails" placeholder="Credit card number" aria-required="true" type="text"></div>
                                    <div class="w85 w85-xs"><input id="organisation" class="input__text" name="organisation" placeholder="MM/YY" aria-required="true" type="text"></div>
                                    <div class="w85 w85-xs"><input id="organisation" class="input__text" name="organisation" placeholder="CVC" aria-required="true" type="text"></div>
                                    <div class="help-block"></div>
                                </div> #}
                            </div>

                        </div>
                            
                    </div>
                </div>





                <div class="col-9 col-lg-3">
                    <div class="o-body-container--right-layout">
                        <div class="c-subscribe__sidebar c-subscribe__sidebar-xs">
                            <picture class="c-subscribe__Device c-subscribe__Device-xs">
                                <img src   ="{{networkData.templatePath}}/static/images/device.png" 
                                     srcset="{{networkData.templatePath}}/static/images/device.png 1x, {{networkData.templatePath}}/static/images/device@2x.png 2x, {{networkData.templatePath}}/static/images/device@3x.png 3x" class="img-fluid">
                            </picture>

                            {% set uc = plan.user_count %}

                            <div class="c-orderSummary">
                                <h4 class="c-orderSummary__title">Order summary</h4>
                                <div class="c-orderSummary__price">{{planPrice}} p/{{plan.period}}</div>
                                <p class="c-orderSummary__usercount">{{plan.plan_name}} | {{ uc|replace({ '10001': '20+' }) }} users</p>
                                <div class="c-orderSummary__details">
                                    <p>What's included:</p>
                                    <ul>
                                        {{plan.description | raw }}
                                    </ul>
                                </div>
                                <a href="{{networkData.defaultBlogUrl}}/paywall" class="btn-change">Change subscription</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-9 ">
                    <h1>You need to choose a plan from the subscriptions screen</h1>
                </div>
            </div>
            {% endif %}


    </div>

</main>





