{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set blogInfo = _Blog.getBlog() %}


{% set networkData = getCache("networkData") %}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %} 
    {% set cache = setCache("networkData", networkData, 500) %} 
{% endif %}

{% set headers      = _AppHelper.getHttpHeaders() %}


{# {% set config       = _Network.getThemeConfig() %} #}
{% set config = getCache("themeConfig") %}
{% if (config is empty) %}
    {% set config = _Network.getThemeConfig() %}
    {% set cache = setCache("themeConfig", config, 500) %} 
{% endif %}

{% set purchasable = config.page.photos.site_cart is defined ? config.page.photos.site_cart : false %}

{% set allowedReferrers = config['allowedReferrers'] %}
{% set headers      = _AppHelper.getHttpHeaders() %}



{% set articleBlog = article.blog.title | lower %}
{% set relatedArticles = [] %}
{% set articleBlogInfo = _Blog.getBlog({'guid':article.blog['guid']}) %}



{% if article.opengraph.description == "" %}
    {% set meta = _AppHelper.addMetaTag("og:description", {'content' : article.excerpt}) %}
{% endif %}
{% if article.twitter.description == "" %}
    {% set meta = _AppHelper.addMetaTag("twitter:description", {'content' : article.excerpt}) %}
{% endif %}
{% if article.twitter.description == "" %}
    {% set meta = _AppHelper.addMetaTag("description", {'content' : article.excerpt}) %}
{% endif %}


{% set showPaywall = false %}
{% set ArticleContent = article.content %}
{% set pwstats = {} %}
{% if not _User.isGuest() %}
    {% set pwstats = _User.getPaywallStats(false) %}
{% endif %}

{% set bypassPaywall = false %}
{% if headers['referer'][0] is defined and allowedReferrers is defined %}
{% set referrrer = headers['referer'][0] | preg_replace('|http(s)*://(.+?)/.*$|', '$2') %}
    {% for ar in allowedReferrers %}
        {% if referrrer == ar %}
            {% set bypassPaywall = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% set paywallType = "" %}
{% if  not      _User.isAdminUser() and
                articleBlogInfo['showPaywall'] == true and
                article['premiumContent'] == true
                %}
    {% if bypassPaywall == false %} 
        {% set showPaywall = true %}
    {% endif %}


    {# DETERMINE IF PAYWALL IS 'PAID' OR 'FREE' #}
    {% if articleBlogInfo['paywallAllowSignupOnly'] == true %}
        {# TURN FREE PAYWALL OFF FOR LOGGED IN USERS AND SET FREE PAYWALL TO SHOW #}
        
        {% if not _User.isGuest() %}
            {% set showPaywall = false %}
        {% else %}
            {% set paywallType = "signup" %}
        {% endif %}
    {% else %}
        {# DETERMINE WHICH PAYWALL TO SHOW #}
        {% if not _User.isGuest() %}

            {% if pwstats['type'] == 'article' %}
                {% set paywallType = "topup" %}
            {% elseif pwstats['type'] == 'time' %}
                {% set paywallType = "renew" %}
            {% else %}
                {% set paywallType = "upgrade" %}
            {% endif %}

        {% else %}
            {% set paywallType = "subscribe" %}
        {% endif %}
    {% endif %}
{% endif %}


{% if showPaywall == true %}
    {% set storySplit = ArticleContent | split('<p>')  %}
    {% set para2_words = storySplit[2] | split(' ') | slice(0, 10) %}
    {% set para2 = para2_words | join(' ') ~ '</p>'  %}
    {% set ArticleContent = '<p>' ~ [storySplit[1], storySplit[2]] | join('<p>') %}

{% endif %}

{% set articleImg = false %}
{% set featured = false %}

{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'faces:auto'} ) %}

    {% set featured = article.media[0].type %}
{% endif %}


{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}

{% set updated = false %}
{% if article.publishedDateTime != article.updatedDateTime %}
    {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
    {% if updatedAgo < 86400 %}
        {% set updateDate = _AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %}
    {% endif %}
    {% set updated = true %}
{% endif %}



{% set testCount = 0 %}

{% set watermark = false %}
{% if config['watermark']['settings'] is defined and config['watermark']['sections'][articleBlog|lower] is defined %}
    {% set watermark = config['watermark']['settings'] %}
{% endif %}

<main id="main" class="c-obit-section__background c-obit-section__background--wide" role="main">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7 col-xl-6">

                <div class="c-article c-obit-article">
                    <div class="c-article__main c-obit-article__main">
                        <div class="c-article__head c-obit-article__head">
                            <div class="c-obit-article__intro ">
                                {% if article.additionalInfo.intro != '' %}
                                    {{article.additionalInfo.intro}}
                                {% else %}
                                    In Loving Memory
                                {% endif %}
                            </div>
                            <hr class="">
                            <div class="c-obit-article__logo u-margin-bottom-10 ">
                                <img class="c-obit-article__logoimg" src="{{networkData.templatePath}}/static/icons/rose.svg">
                            </div>
                            <h1 class="c-article__title c-obit-article__title u-margin-bottom-5">
                                {{ article.title }}
                            </h1>
                            <p class="c-obit-article__lifespan">{{article.additionalInfo.birth}} – {{article.additionalInfo.passing}}</p>
                            <hr class="">



                            <div class="c-article__posted-by c-obit-article__posted-by">
                                <div class="c-article__author c-obit-article__author">
                                {# "{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts" #}
                                    {# <a class="c-article__author-name c-obit-article__author-name" href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts">{{ article.createdBy['displayName'] }}</a>

                                    {% if article['createdBy']['coauthors'] %}
                                        {% for author in article['createdBy']['coauthors'] %}
                                            <a class="c-article__author-name c-obit-article__author-name" href="{{_AppHelper.getUserProfileUrl(author['username'])}}/posts">{{ author['displayName'] }}</a>
                                        {% endfor %}
                                    {% endif %} #}

                                    <time class="c-article__published c-obit-article__published">Published on {{article.publishedDate}}</time>
                                    {# {% if updated %}
                                         - <time class="c-article__updated">Updated {{ updateDate | capitalize }}</time>
                                    {% endif %} #}
                                </div>

                            </div>

                            {% if _User.isAdminUser() %}
                                    <a href="{{article.editUrl}}" target="_blank" class="c-article__edit-link c-obit-article__edit-link">Edit article</a>
                            {% endif %}

                        </div> <!-- close head -->


                    {% if articleImg %} 

                        <div class="gallery-container relative">
                            {% if article.media|length > 0 %}
                                {{this.render('partials/gallery.twig', {
                                    media: article.media,
                                    showPaywall: showPaywall,
                                    watermark: watermark,
                                    galleryStyle: 'gallery',
                                    purchasable: purchasable
                                }) | raw}}
                            {% endif %}
                                                    

                        </div> 

                    {% endif %}






                        <div class="c-article__container c-obit-article__container">
                                {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                        </div>



                        {% if showPaywall == true %}
                            {{this.render("partials/article/paywall.twig", {networkData: networkData, paywallType: paywallType }) | raw}}
                        {% endif %}

                        <p class="c-obit-article__contact">If you would like to place an obituary for your loved one, please contact us at <a href="mailto:inlovingmemory@sunraysiadaily.com.au">inlovingmemory@sunraysiadaily.com.au</a></p>

                    </div>


                   


                </div>
                <!-- End Article Page -->
            </div>

        </div>



        {% if config['inventory']['adSpace']['banner'][1] is defined %}
            <div class="j-adslot" id="{{config['inventory']['adSpace']['banner'][1]}}" data-adshape="banner"></div>
        {% endif %}


    </div>
    {% set theKeywords = '' %}
    {% if article.keywords is defined and article.keywords != '' %}
        {% set theKeywords = article.keywords %}
    {% elseif blogInfo.keywords is defined and blogInfo.keywords != '' %}
        {% set theKeywords = blogInfo.keywords %}
    {% endif %}
    {% if articleBlogInfo.parentBlog.title is defined and articleBlogInfo.parentBlog.title != '' %}
        {% set articleBlog = articleBlogInfo.parentBlog.title %}
    {% endif %}
    <div class="j-keyword-cont" data-keyword="{{theKeywords}}" data-pageName="{{articleBlog}}" data-pageType="article" data-pageTag=""></div>
</main>


<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        Acme.articleController = Acme.ArticleController();
    });
</script>


