{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set blogData     = _Blog.getBlog() %}

{% set networkData = getCache("networkData") %}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %} 
    {% set cache = setCache("networkData", networkData, 500) %} 
{% endif %}


{% set config = getCache("themeConfig") %}
{% if (config is empty) %}
    {% set config = _Network.getThemeConfig() %}
    {% set cache = setCache("themeConfig", config, 500) %} 
{% endif %}




{% set limit = 11 %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}





<main id="main" class="site-main c-obit-section__background" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}" data-ref="{{blogData.guid}}">
    
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">

                <div class="row">
                    <div class="col-12">
                        <h1 class="c-obit-section__header">In Loving Memory</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p class="c-obit-section__infohead u-margin-bottom-25">Let us help commemorate your loved ones by turning their stories into everlasting memories.</p>
                        <p class="c-obit-section__infotext u-margin-bottom-40">Our “In Loving Memory” service is a beautiful way to share your loved one’s story, it will be written by an experienced journalist. You have a choice of a half or full page story that will be publised in the newspaper and it will also be published online.</p>
                        <a href="{{networkData.defaultBlogUrl}}/in-loving-memory-submit-form" target="_blank"><div class="c-obit-section__infobutton">Make an Enquiry</div></a>
                        <img class="u-margin-top-50 d-md-none d-lg-block" src="{{networkData.templatePath}}/static/images/ilm-1.jpg">
                    </div>

                    <div class="col-12 col-lg-6 d-md-none d-lg-block">
                    <img class="u-mobile-margin-top-30 c-obit-section__infoimage" src="{{networkData.templatePath}}/static/images/ilm-2.jpg">
                    </div>

                    <div class="col-12 col-lg-6 d-none d-md-block d-lg-none">
                        <div class="row">
                            <div class="col-7">
                                <img class=" c-obit-section__infoimage" src="{{networkData.templatePath}}/static/images/ilm-1.jpg">
                            </div>
                            <div class="col-5">
                                <img src="{{networkData.templatePath}}/static/images/ilm-2.jpg">
                            </div>
                        </div>
                    </div>

                </row>


                

                <div class="row">
                    <div class="col-12">
                        {% if config['inventory']['adSpace']['banner'][1] is defined %}
                            <div class="j-adslot u-desktop-margin-bottom-60 u-tablet-margin-bottom-40 u-mobile-margin-bottom-30" id="{{config['inventory']['adSpace']['banner'][1]}}" data-adshape="banner"></div>
                        {% endif %}
                    </div>
                </div>

       
            </div>
        </div>
    </div>
    <div class="j-keyword-cont" data-keyword="{{blogData.keywords}}" data-pageName="{{blogData.title}}" data-pageType="section" data-pageTag=""></div>
</main>