{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set blogData     = _Blog.getBlog() %}

{% set networkData = getCache("networkData") %}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %} 
    {% set cache = setCache("networkData", networkData, 500) %} 
{% endif %}


{% set config = getCache("themeConfig") %}
{% if (config is empty) %}
    {% set config = _Network.getThemeConfig() %}
    {% set cache = setCache("themeConfig", config, 500) %} 
{% endif %}




{% set limit = 6 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}



{% set popularArticles = getCache("popularArticles") %}
{% if (popularArticles is empty) %}
    {% set popularArticles = _Article.getPopularArticles({  limit: 4,  sortBy: 'VIEWS',  scope: 'network', interval: 168  }) %}
    {% set cache = setCache("popularArticles", popularArticles, 500) %} 
{% endif %}






<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

<main id="main" class="site-main c-obit-section__background" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}" data-ref="{{blogData.guid}}">
    
    <div class="container">

        <div class="row">
            <div class="col-12">
                <p class="c-obit-section__contact d-none d-lg-block u-margin-top-15">If you would like to place an obituary for your loved one, please contact us at <a href="mailto:inlovingmemory@sunraysiadaily.com.au">inlovingmemory@sunraysiadaily.com.au</a></p>
                <h1 class="c-obit-section__header">In Loving Memory</h1>
                <p class="c-obit-section__contact d-lg-none u-margin-top-10 u-margin-bottom-30">If you would like to place an obituary for your loved one, please contact us at <a href="mailto:inlovingmemory@sunraysiadaily.com.au">inlovingmemory@sunraysiadaily.com.au</a></p>
            </div>
        </div>      

        {# {{_AppHelper.printArray(articles[1])}}  #}
                
        <div class="row" id="loadmore">


                 {% for i in 0..5 if articles[articleCount] %}   
                    <div class="col-12 col-xl-6">                                                             
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 615, height: 399},
                            containerClass: "card-13-mobile card-13-tablet card-13-desktop card-13-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endfor %}    

            
        </div>
        <div class="row">
            <div class="col-12">
                {% if config['inventory']['adSpace']['banner'][2] is defined %}
                    <div class="j-adslot u-desktop-margin-bottom-60 u-tablet-margin-bottom-40 u-mobile-margin-bottom-30" id="{{config['inventory']['adSpace']['banner'][2]}}" data-adshape="banner"></div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% if limit <= articleCount %}
                    {{ this.render('/partials/ajaxarticles_new.twig', {
                        name            : "section-load",
                        label           : "+ Load more",
                        buttonClass     : "u-display-none",
                    }) | raw }}
                {% endif %}

                </div>
        </div>


    </div>
    <div class="j-keyword-cont" data-keywords="{{blogData.keywords}}" data-pageName="{{blogData.title}}" data-pageType="section" data-pageTags=""></div>
</main>




<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs

    document.addEventListener("DOMContentLoaded", function() {
        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore',
            infinite        : false,
            label           : false,
            limit           : 6,
            offset          : 6,
            blogid          : '{{blogData['guid']}}',
            name            : 'section-load', //name of the search button
            card_class      : 'card-13-mobile card-13-tablet card-13-desktop card-13-desktop-lg col-12 col-xl-6',
            non_pinned      : {{articleCount}}

        });

    });
</script>
