{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}

{% set blogData    = _Blog.getBlog() %}
{% set limit = 50 %}
{% set date = date() %}
{% set events = _Event.getEvents({"limit": limit, "start_date": date.date | split(" ")[0]}) %}
{% set config       = _Network.getThemeConfig() %}


{% set firstCount = events | length %}







<!-- used to index each article as we loop over throughout the template -->
{% set eventCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


    <main id="main" class="site-main" role="main">
        
        <div class="container u-margin-top-60">
            <section class="row">
                <div class="col-12">
                    <div class="c-section-header">{{this.title}}
                        {# {% if not _User.isGuest() %}
                            <a href="{{networkData.defaultBlogUrl}}/event-form" class="c-section-header__button c-button c-button--red">Submit an event</a>
                        {% endif %} #}
                    </div>
                </div>
            </section>

            {% set monthDivider = '' %}

            <section class="middle">
                <div class="row row-space maincards">
                    <div class="col-lg-9">
                        {% for i in 0..49 if events[eventCount] %}

                            {% set eventMonth = _AppHelper.getDateTimeBasedOnTimezone(events[eventCount].startDate, 'F Y') %}
                            {% if monthDivider != eventMonth %}
                                <p class="c-events__head c-events__head-xs">{{ eventMonth }}</p>
                                {% set monthDivider = eventMonth %}
                            {% endif %}

                            {{this.render('partials/_single-event.twig', {
                                event: events[eventCount], 
                                position: eventCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'event-card-1-mobile event-card-1-tablet event-card-1-desktop event-card-1-desktop-lg',
                            }) | raw}}
                            {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                        {% endfor %}
                    </div>


                    <div class="col-12 col-md-3 c-events">
                        {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                            <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="mrec"></div>
                        {% endif %}
                    </div>



                </div>
            </section>

            <div class="col-lg-1 visible-lg-block"></div>            
        </div>
        <div class="j-keyword-cont" data-keywords="{{blogData.keywords}}"></div>
    </main><!-- .site-main -->


{# <script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    var blogLoadmore = true;
    document.addEventListener("DOMContentLoaded", function() {


        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore',
            infinite        : true,
            label           : false,
            limit           : 50,
            offset          : 50,
            name            : 'section-load', //name of the search button
            card_class      : 'col-12 col-md-3 card-4-mobile card-2-tablet card-1-desktop card-2-desktop-lg',
            non_pinned      : {{eventCount}}

        });

    });
</script>
 #}
