{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set blogData     = _Blog.getBlog() %}

{% set networkData = getCache("networkData") %}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %} 
    {% set cache = setCache("networkData", networkData, 500) %} 
{% endif %}


{% set config = getCache("themeConfig") %}
{% if (config is empty) %}
    {% set config = _Network.getThemeConfig() %}
    {% set cache = setCache("themeConfig", config, 500) %} 
{% endif %}




{% set limit = 11 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}



{% set popularArticles = getCache("popularArticles") %}
{% if (popularArticles is empty) %}
    {% set popularArticles = _Article.getPopularArticles({  limit: 4,  sortBy: 'VIEWS',  scope: 'network', interval: 168  }) %}
    {% set cache = setCache("popularArticles", popularArticles, 500) %} 
{% endif %}






<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


<div class="c-centenary-banner">
    <a href="{{networkData.defaultBlogUrl}}/your-100-years">
        <p class="c-centenary-banner__title">— Your 100 Years —</p>
        <p class="c-centenary-banner__subtitle">of Sunraysia Daily</p>
    
        <div class="c-centenary-banner__img">
            
        </div>
    </a>
</div>



<main id="main" class="site-main c-centenary-section__background" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}" data-ref="{{blogData.guid}}">
    
    <div class="container">

        <div class="row">
            <div class="col-12">
                {% if config['inventory']['adSpace']['banner'][1] is defined %}
                    <div class="j-adslot u-desktop-margin-bottom-100 u-tablet-margin-bottom-40 u-mobile-margin-bottom-30" id="{{config['inventory']['adSpace']['banner'][1]}}" data-adshape="banner"></div>
                {% endif %}
            </div>
        </div>

        {% if config['inventory']['adSpace']['skyscraper'][0] is defined %}
            <div class="advertisment__skycontainer j-skycontainer">
                
                    <div class="j-adslot j-adslot-skyscraper advertisment__skyscraper advertisment__skyscraper--left advertisment__skyscraper--absolute" id="{{config['inventory']['adSpace']['skyscraper'][0]}}" data-adshape="skyscraper"></div>
                

                {% if config['inventory']['adSpace']['skyscraper'][1] is defined %}
                    <div class="j-adslot j-adslot-skyscraper advertisment__skyscraper advertisment__skyscraper--right advertisment__skyscraper--absolute" id="{{config['inventory']['adSpace']['skyscraper'][1]}}" data-adshape="skyscraper"></div>
                {% endif %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12">
                <h1 class="c-centenary-section__header">{{ _Blog.getBlogTitle() }}</h1>
            </div>
        </div>

        {# <div class="d-none">
            {{_AppHelper.printArray(articlesArr)}}
        </div> #}


       
                
        <div class="row">


                {% set initOrder = [1,3] %}
                 {% for i in 1..2 if articles[articleCount] %}   
                    <div class="col-12 col-md-6 col-lg-4 order-md-{{initOrder[i]}} order-lg-{{i}}">                                                             
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 615, height: 399},
                            containerClass: "card-12-mobile card-12-tablet card-12-desktop card-12-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endfor %}

                <div class="col-12 col-md-6 col-lg-4 order-md-2 order-lg-3">
                    {% if config['inventory']['adSpace']['mrec'][0] is defined %}
                        <div class="j-adslot c-centenary-section__mrec u-desktop-margin-top-100 u-tablet-margin-top-100" id="{{config['inventory']['adSpace']['mrec'][0]}}" data-adshape="mrec"></div>
                    {% endif %}
                </div>
           
            

            
                {% for i in 4..6 if articles[articleCount] %}   
                    <div class="col-12 col-md-6 col-lg-4 order-md-{{i}}">                                                             
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 615, height: 399},
                            containerClass: "card-12-mobile card-12-tablet card-12-desktop card-12-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endfor %}
           

            
        </div>
        <div class="row">
            <div class="col-12">
                {% if config['inventory']['adSpace']['banner'][2] is defined %}
                    <div class="j-adslot u-desktop-margin-bottom-60 u-tablet-margin-bottom-40 u-mobile-margin-bottom-30" id="{{config['inventory']['adSpace']['banner'][2]}}" data-adshape="banner"></div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            

           
                {% for i in 0..5 if articles[articleCount] %}   
                 <div class="col-12 col-md-6 col-lg-4">                                                             
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 615, height: 399},
                        containerClass: "card-12-mobile card-12-tablet card-12-desktop card-12-desktop-lg"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endfor %}
            
        </div>

        <div class="row">
            <div class="col-12">
                {% if config['inventory']['adSpace']['banner'][3] is defined %}
                    <div class="j-adslot u-desktop-margin-bottom-60 u-tablet-margin-bottom-40 u-mobile-margin-bottom-30" id="{{config['inventory']['adSpace']['banner'][3]}}" data-adshape="banner"></div>
                {% endif %}
            </div>
        </div>

        <div id="loadmore" class="row">
            
        </div>


        <div class="row">
            <div class="col-12">
                {% if limit <= articleCount %}
                    {{ this.render('/partials/ajaxarticles_new.twig', {
                        name            : "section-load",
                        label           : "",
                        buttonClass     : "u-display-none",
                    }) | raw }}
                {% endif %}

                </div>
        </div>


    </div>
    <div class="j-keyword-cont" data-keywords="{{blogData.keywords}}" data-pageName="{{blogData.title}}" data-pageType="section" data-pageTags=""></div>
</main>




<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs

    document.addEventListener("DOMContentLoaded", function() {
        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore',
            infinite        : true,
            label           : false,
            limit           : 12,
            offset          : 12,
            blogid          : '{{blogData['guid']}}',
            name            : 'section-load', //name of the search button
            card_class      : 'card-12-mobile card-12-tablet card-12-desktop card-12-desktop-lg col-12 col-md-6 col-lg-4',
            non_pinned      : {{articleCount}}

        });

    });
</script>
