{{ set(this, 'title', 'Reset Password') }}

{# {{this.registerJs('AuthController.resetPassword()')}} #}
{% set config       = _Network.getThemeConfig() %}
<div class="login-page">
    <div class="container">
        <div class="tab-content forget_password">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8" id="login-social">
                    <h1 class="c-myAccount__head">Set your Password</h1>
                    <div class="WriteAnArticleForm">
                        <form id="resetPasswordForm" class="form-horizontal" action="" method="post">
                            <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                            {% if errors | length > 0 %}
                                <div class="" role="alert">
                                    <button class="close" aria-label="Close" data-dismiss="alert" type="button"></button>
                                    <ul>
                                        {% for errorArr in errors %}
                                            {% for error in errorArr %}
                                                <li class="c-account-form__errorText">{{error}}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="controls-full">
                                        {{_AppForm.input({type:'password', name: 'password', value: '', id: 'password', class: 'form-control u-margin-bottom-30
                                        u-margin-top-60', placeholder: 'New Password'}) | raw }}
                                    </div>
                                    <div class="controls-full">
                                        {{_AppForm.input({type:'password', name: 'verifypassword', value: '', class: 'form-control u-margin-bottom-50', placeholder: 'Verify Password'}) | raw }}
                                    </div>
                                    {{_AppForm.button({type:'submit', name: 'resetPassword', class: 'c-button c-button--blue u-margin-bottom-100', label:'Submit'}) | raw }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-9 col-lg-3">
                    {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                        <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="side-fix"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function() {
        AuthController.resetPassword();

    });

</script>