
{% set limit = 20 %}
{% set articles = _Search.searchArticles({'limit': limit, 'offset': 0, 'search': search, 'sortBy': 'published'}) %}
{% set config   = _Network.getThemeConfig() %}


{% set firstCount = articles | length %}

{% set networkData = _Network.getNetworkData() %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}


<main id="main" class="o-body-container o-body-container-md searchPage u-margin-top-60" role="main">
    <div class="container">
        <div class="row">

            <div class="offset-md-1 col-md-7">
                <div class="c-search">
                    <div class="c-search__head">
                        {% set resultString = firstCount < 2 ? 'result' : 'results' %}
                        Showing <span>{{firstCount}}</span>  {{resultString}} for '<span class="c-search__name">{{search}}</span>'
                    </div>

                    <div id="results">
                        {% for article in articles %}

                            {{this.render('partials/_single-article.twig', {
                                article: article, 
                                imageSuppress: 'true',
                                containerClass: "card-5-mobile card-8-tablet card-8-desktop"
                            }) | raw}}
                            <hr class="d-none d-md-block divide u-margin-top-20 u-margin-bottom-20 u-margin-right-100" />
                        {% endfor %}

                    </div>
    

                    {% if articles|length >= limit %}
                        {{ this.render('partials/ajaxarticles_new.twig', {
                            name            : "search-load",
                            label           : "more",
                            buttonClass     : "",
                        }) | raw }}
                    {% endif %}

                </div>

            </div>


            <div class="col-9 col-lg-3">
                place add here
                {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                    <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="side-fix"></div>
                {% endif %}
            </div>
        </div>
    </div>

</main><!-- .site-main -->



<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        
        Acme.cards = CardController();
        Acme.loadMore = new Acme.View.articleFeed({
            model           : Acme.cards,
            container       : 'results',
            limit           : {{limit}},
            loadtype        : 'api/search',
            searchterm      : "{{search}}",
            name            : 'search-load', //name of the search button
            card_class      : 'card-5-mobile card-8-tablet card-8-desktop'
        });
    });
</script>

