{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set blogData     = _Blog.getBlog() %}

{% set networkData = getCache("networkData") %}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %} 
    {% set cache = setCache("networkData", networkData, 500) %} 
{% endif %}


{% set config = getCache("themeConfig") %}
{% if (config is empty) %}
    {% set config = _Network.getThemeConfig() %}
    {% set cache = setCache("themeConfig", config, 500) %} 
{% endif %}




{% set limit = 17 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}



{% set popularArticles = getCache("popularArticles") %}
{% if (popularArticles is empty) %}
    {% set popularArticles = _Article.getPopularArticles({  limit: 4,  sortBy: 'VIEWS',  scope: 'network', interval: 168  }) %}
    {% set cache = setCache("popularArticles", popularArticles, 500) %} 
{% endif %}






<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}




<main id="main" class="site-main u-margin-top-60 u-margin-bottom-60" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}" data-ref="{{blogData.guid}}">
{# {{blogData['showPaywall']}}
{{blogData['paywallType']}}
{{blogData['paywall_allow_signup_plans']}} #}

    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1 class="c-section-header">{{ _Blog.getBlogTitle() }}</h1>
            </div>
        </div>

        {# <div class="d-none">
            {{_AppHelper.printArray(articlesArr)}}
        </div> #}


        <div class="row">
            <div class="col-12 col-lg-9">
                
                <div class="row">
                    <div class="col-12 col-lg-8">
                    {% if articles[articleCount] %}                                                                

                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 740, height: 360},
                            containerClass: "card-5-mobile card-5-tablet card-5-desktop"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endif %}
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                    {% if articles[articleCount] %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 300, height: 230},
                            containerClass: "card-4-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endif %}
                    </div>

                    <div class="col-12 col-md-6 col-lg-12">
                    {% if articles[articleCount] %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 740, height: 360},
                            containerClass: "card-4-mobile card-2-tablet card-3-desktop card-3-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    </div>
                </div>
            </div>

            
            <div class="col-12 col-lg-3">
                <div class="row">
                    <div class="col-12">
                        {% if config['inventory']['adSpace']['mrec'][0] is defined %}
                            <div class="j-adslot" id="{{config['inventory']['adSpace']['mrec'][0]}}" data-adshape="mrec"></div>
                        {% endif %}
                    </div>
                    <div class="col-12">
                    {% if articles[articleCount] %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 360, height: 270},
                            containerClass: "card-4-mobile card-3-tablet card-2-desktop card-2-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endif %}
                    </div>
                </div>
            </div>


        </div>

        {% if config['inventory']['adSpace']['banner'][1] is defined %}
            <div class="j-adslot" id="{{config['inventory']['adSpace']['banner'][1]}}" data-adshape="banner"></div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-lg-3">
            {% if articles[articleCount] %}                                                                
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 360, height: 270},
                    containerClass: "card-4-mobile card-3-tablet card-1-desktop card-1-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% endif %}
            </div>

            <div class="col-12 col-lg-9">
            {% if articles[articleCount] %}                                                                
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 360, height: 270},
                    containerClass: "card-4-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6 col-lg-3">
                <div class="c-news-feed">
                    <div class="c-news-feed__title">Most popular</div>
                    <ul class="row c-news-feed__list">

                        {% for i in 0..3 if popularArticles[i] %}
                                <li class="col-sm-12">
                                    {{this.render('/partials/_single-article.twig', {
                                        article: popularArticles[i], 
                                        imageSuppress: true,
                                        containerClass: "card-6-mobile card-6-tablet card-6-desktop"
                                    }) | raw}}
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% for i in 0..2 if articles[articleCount] %}
                <div class="col-md-6 col-lg-3">
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 360, height: 270},
                    containerClass: "card-4-mobile card-1-tablet card-1-desktop card-1-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}

        </div>









        <div id="loadmore" class="row">
            {% for i in 0..7 if articles[articleCount] %}
                <div class="col-12 col-md-6 col-lg-3">
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 360, height: 270},
                    containerClass: "card-4-mobile card-2-tablet card-1-desktop card-2-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-12">
                {% if limit <= articleCount %}
                    {{ this.render('/partials/ajaxarticles_new.twig', {
                        name            : "section-load",
                        label           : "",
                        buttonClass     : "u-display-none",
                    }) | raw }}
                {% endif %}

                </div>
        </div>


    </div>
    <div class="j-keyword-cont" data-keywords="{{blogData.keywords}}" data-pageName="{{blogData.title}}" data-pageType="section" data-pageTags=""></div>
</main>




<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs

    document.addEventListener("DOMContentLoaded", function() {
        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore',
            infinite        : true,
            label           : false,
            limit           : 12,
            offset          : 12,
            blogid          : '{{blogData['guid']}}',
            name            : 'section-load', //name of the search button
            card_class      : 'card-4-mobile card-2-tablet card-1-desktop card-2-desktop-lg col-12 col-md-3',
            non_pinned      : {{articleCount}}

        });

    });
</script>
