{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set blogData     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}



{% set limit = 18 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}






<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}




<main id="main" class="site-main u-margin-top-60" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">

    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1>{{ _Blog.getBlogTitle() }}</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-lg-9">
                
                <div class="row">
                    <div class="col-12 col-lg-8">
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 740, height: 360},
                            containerClass: "card-5-mobile card-5-tablet card-5-desktop"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>

                    <div class="col-12 col-lg-4">
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 740, height: 360},
                            containerClass: "card-4-mobile card-2-tablet card-2-desktop"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>

                    <div class="col-12">
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 740, height: 360},
                            containerClass: "card-4-mobile card-3-tablet card-3-desktop"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                </div>
            </div>

            
            <div class="col-12 col-lg-3">

                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 360, height: 270},
                    containerClass: "card-4-mobile card-2-tablet card-2-desktop"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
 
            </div>


        </div>

        <div class="row">
            <div class="col-12 col-lg-3">
                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 360, height: 270},
                    containerClass: "card-1-mobile card-1-tablet card-1-desktop"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

            </div>

            <div class="col-12 col-lg-9">

                {{this.render('partials/_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 360, height: 270},
                    containerClass: "card-4-mobile card-3-tablet card-3-desktop"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}


                <div class="row">
                {% for i in 0..2 if articles[articleCount] %}
                    <div class="col-lg-4">
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 360, height: 270},
                        containerClass: "card-1-mobile card-1-tablet card-1-desktop"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endfor %}

            </div>


        </div>


            {{this.render('/partials/_section-loadmore.twig', {
                sectionNumber: "02", 
                cardClass: "col-12 col-lg-3 card-4-mobile card-2-tablet card-2-desktop card-2-desktop-lg",
                cardCount: 9,
                limit: 8
            }) | raw}}

    </div>
    <div class="j-keyword-cont" data-keywords="{{blogData.keywords}}"></div>
</main>




