{{ set(this, 'title', 'User Profile') }}

{% set networkData = _Network.getNetworkData() %}
{% set limit = 12 %}

{% set firstCount = userArticles | length %}



{% set profileImage =_Media.getMediaUrl( user.media, 500, 500, {crop: 'thumb', gravity: 'face', type:'user'} ) %}

<main class="o-body-container o-body-container-md u-margin-top-60">

    <div class="container">
        <div class="row">

            <div class="col-9">
                <div class="c-author c-author-md">
                    <div class="c-author-left c-author-left-md">  

                        <div class="c-author__avatar c-author__avatar-xs u-image-covered" style="background-repeat:none;background-image:url({{profileImage}});">&nbsp;</div>
                        
                        <div class="c-author__details c-author__details-xs">
                            <h3 class="c-author__name c-author__name-xs c-author__name-md">{{Html.encode(user.firstname)}} {{Html.encode(user.lastname)}}</h3>
                            <p class="c-author__text">{{Html.decode(user.bio) | raw}}</p>
                        </div>

                    </div>


                    
                </div>
            </div>
        </div>
        <div class="row">

            <div id="loadmore_section" class="col-12">
                <div class="row">
                    {% for i in 0..11 if userArticles[i] %}
                        {{this.render('partials/_single-article.twig', {
                            article: userArticles[i], 
                            imageSize: {width:1240, height:580},
                            containerClass: 'col-12 col-md-4 col-lg-3 card-1-mobile card-1-tablet card-1-desktop card-1-desktop-lg u-mobile-no-margin-sides u-mobile-margin-bottom-30'
                        }) | raw}}
                    {% endfor %}
                </div>

            </div>

        </div>
        {# {{dump(userArticles|length)}} #}


        <div class="row">
            <div class="col-md-6">
                {% if userArticles|length >= limit %}
                    <section class="">
                        <div class="row">
                            {{ this.render('partials/ajaxarticles_new.twig', {
                                name            : "user-load",
                                label           : "more",
                                buttonClass     : "c-button c-button--rounded c-button--blue-bordered",
                            }) | raw }}
                        </div>
                    </section>
                {% endif %}

            </div>
        </div>
    </div>
</main>

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs'
    //var blogLoadmore = true;
    document.addEventListener("DOMContentLoaded", function(event) {

        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore_section',
            offset          : {{limit}},
            limit           : {{limit}},
            before          : '<div class="row">',
            label           : "More",
            after           : "</div>",
            loadtype        : 'user_articles',
            name            : 'user-load',
            card_class      : 'card-1-mobile card-1-tablet card-1-desktop card-1-desktop-lg col-12 col-md-4 col-lg-3 u-mobile-no-margin-sides u-mobile-margin-bottom-30'
        });

    });
</script>
