{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{{this.render('../_section-header.twig', {
    number: "03",
    title: title,
    link: link,
}) | raw }}




<div class="row">
    <div class="col-12 col-md-6 col-lg-3">
        {% if articles[articleCount] %}                                                                
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-4-mobile card-2-tablet card-1-desktop card-2-desktop-lg"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}

    </div>


    <div class="col-12 col-md-6 col-lg-3">
        {% if articles[articleCount] %}                                                                
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-4-mobile card-2-tablet card-1-desktop card-2-desktop-lg"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}

    </div>

    <div class="col-12 col-md-6 col-lg-3">
        {% if articles[articleCount] %}                                                                
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-4-mobile card-2-tablet card-1-desktop card-2-desktop-lg"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}

    </div>

    <div class="col-12 col-md-6 col-lg-3">
        {% if articles[articleCount] %}                                                                
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-4-mobile card-2-tablet card-1-desktop card-2-desktop-lg"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}

    </div>

</div>


{% if loadmore %}
    {{this.render('/partials/_section-loadmore.twig', {
        sectionNumber: "03", 
        limit: 8,
        cardClass: "card-4-mobile card-2-tablet card-1-desktop card-2-desktop-lg col-12 col-md-6 col-lg-3 ",
        cardCount: 4,
    }) | raw}}
{% endif %}

