{% set articleCount = 0 %}
{% set eventCount = 0 %}
{% set cardIndex = 0 %}


{{this.render('../_section-header.twig', {
    number: "02",
    title: title,
    link: link,
}) | raw }}



<div class="row c-cards">

    <div class="col-12 col-lg-9">
        <div class="row">
            <div class= "col-12 col-md-4">
                {% if articles[articleCount] %}                                                                
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 300, height: 230},
                    containerClass: "card-4-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>

            <div class= "col-12 col-md-8">
                {% if articles[articleCount] %}                                                                
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 300, height: 230},
                    containerClass: "card-4-mobile card-4-tablet card-4-desktop"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>

            <div class="col-12">
                {% if articles[articleCount] %}                                                                
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 550, height: 290},
                    containerClass: "card-4-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}

            </div>
        </div>
    </div>

    <div class="col-12 col-lg-3">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-12 u-desktop-margin-bottom-40">
                {% if adslots[0] is defined %}
                    <div class="j-adslot" id="{{adslots[0]}}" data-adshape="mrec"></div>
                {% endif %}
            </div>
            <div class= "col-12 col-md-6 col-lg-12">
                {% if articles[articleCount] %}                                                                
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 620},
                    containerClass: "card-4-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if loadmore %}
    {{this.render('/partials/_section-loadmore.twig', {
        sectionNumber: "02", 
        limit: 10,
        blogId: blogData['guid'],
        before: '<div class="col-12 col-lg-9 ">',
        after: "</div>",
        cardClass: "card-4-mobile card-3-tablet card-3-desktop card-3-desktop-lg",
        cardCount: 4,
    }) | raw}}
{% endif %}
