{% set articleCount = 0 %}
{% set eventCount = 0 %}
{% set cardIndex = 0 %}


{{this.render('../_section-header.twig', {
    number: "02",
    title: title,
    link: link,
}) | raw }}



<div class="row c-cards">

    <div class= "col-12 col-lg-6 order-lg-1">
        {% if articles[articleCount] %}                                                                
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSize: {width: 300, height: 230},
            containerClass: "card-4-mobile card-4-tablet card-4-desktop"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}
    </div>

    <div class= "col-12 col-md-6 col-lg-3 order-lg-2">
        {% if articles[articleCount] %}                                                                
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSize: {width: 300, height: 230},
            containerClass: "card-4-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}
    </div>

    <div class= "col-12 col-md-6 col-lg-3">
        {% if articles[articleCount] %}                                                                
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSize: {width: 300, height: 230},
            containerClass: "card-4-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}
    </div>

</div>


<div class="row">
    <div class="col-12 col-lg-9">
        {% if articles[articleCount] %}                                                                
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSize: {width: 550, height: 290},
            containerClass: "card-4-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}

    </div>
</div>


{{this.render('/partials/_section-loadmore.twig', {
    sectionNumber: "02", 
    limit: 10,
    cardClass: "col-12 col-lg-9 card-4-mobile card-3-tablet card-3-desktop card-3-desktop-lg",
    cardCount: 4,
}) | raw}}

