{% set articleCount = 0 %}
{% set cardIndex = 0 %}
{{this.render('../_section-header.twig', {
    number: "09 - CLASSIFIeDS",
    title: title,
    link: networkData.defaultBlogUrl ~ '/classifieds',
}) | raw }}


<div class="row c-cards">
    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-classified-section-mobile card-classified-section-tablet card-classified-section-desktop card-classified-section-desktop-lg",
            url: altUrls[0] is defined ? networkData.defaultBlogUrl ~ altUrls[0] : ''
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>


    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-classified-section-mobile card-classified-section-tablet card-classified-section-desktop card-classified-section-desktop-lg",
            url: altUrls[1] is defined ? networkData.defaultBlogUrl ~ altUrls[1] : ''
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-classified-section-mobile card-classified-section-tablet card-classified-section-desktop card-classified-section-desktop-lg",
            url: altUrls[2] is defined ? networkData.defaultBlogUrl ~ altUrls[2] : ''
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-classified-section-mobile card-classified-section-tablet card-classified-section-desktop card-classified-section-desktop-lg",
            url: altUrls[3] is defined ? networkData.defaultBlogUrl ~ altUrls[3] : ''
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>
</div>