{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{# {{dump(link)}} #}
{{this.render('../_section-header.twig', {
    number: "09 - CLASSIFIeDS",
    title: title,
    link: link,
}) | raw }}


<div class="row c-cards">
    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-1-mobile card-1-tablet card-1-desktop card-1-desktop-lg",
            url: networkData.defaultBlogUrl ~ '/automotive'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>


    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-1-mobile card-1-tablet card-1-desktop card-1-desktop-lg",
            url: networkData.defaultBlogUrl ~ '/announcements'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-1-mobile card-1-tablet card-1-desktop card-1-desktop-lg",
            url: networkData.defaultBlogUrl ~ '/jobs'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-1-mobile card-1-tablet card-1-desktop card-1-desktop-lg",
            url: networkData.defaultBlogUrl ~ '/buy--sell'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>
</div>