{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{{this.render('../_section-header.twig', {
    number: "03",
    title: title,
    link: link,
}) | raw }}




<div class="row">
    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSuppress: true,
            containerClass: "card-4-mobile card-2-tablet card-2-desktop"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>


    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            containerClass: "card-4-mobile card-2-tablet card-2-desktop"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSuppress: true,
            containerClass: "card-4-mobile card-2-tablet card-2-desktop"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSuppress: true,
            containerClass: "card-4-mobile card-2-tablet card-2-desktop"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>

</div>



{{this.render('/partials/_section-loadmore.twig', {
    sectionNumber: "03", 
    limit: 10,
    cardClass: "col-12 col-md-6 col-lg-3 card-4-mobile card-2-tablet card-2-desktop",
    cardCount: 4,
}) | raw}}



