{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{% set popularArticles = _Article.getPopularArticles({ limit: 4, sortBy: 'VIEWS', scope: 'network' }) %}

<div class="row" data-section="00">
        
    <div class="col-12 col-lg-6">
        
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSize: {width: 635, height: 290},
            containerClass: "card-5-mobile card-5-tablet card-5-desktop"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>


    <div class="col-12 col-lg-6">
        <div class="row">
            <div class="col-12 col-md-6">
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 635, height: 290},
                    behaviour: 'lightbox',
                    containerClass: "card-4-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            </div>

            <div class="col-12 col-md-6">
                {% if adslots[0] is defined %}
                    <div class="j-adslot" id="{{adslots[0]}}" data-adshape="mrec"></div>
                {% endif %}
                {% if adslots[1] is defined %}
                    <div class="j-adslot" id="{{adslots[1]}}" data-adshape="custom"></div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12 col-lg-9">
        {% for i in 0..3 if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                position: (articleCount+1),
                imageSize: {width: 740, height: 360},
                containerClass: "card-4-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endfor %}

    </div>


    <div class="col col-lg-3 u-desktop-margin-top-neg-100">
        
        {% if adslots[0] is defined %}
            <div class="j-adslot" id="{{adslots[0]}}" data-adshape="mrec"></div>
        {% endif %}

        {{this.render('../_section-header.twig', {
            number: "02",
            title: "Video",
            link: link,
        }) | raw }}

        <div class="row">
            {% for i in 0..2 if articles[articleCount] %}
            
                <div class="col-12 col-md-6 col-lg-12">

                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 740, height: 360},
                        containerClass: "card-1-mobile card-1-tablet card-1-desktop card-1-desktop-lg"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                </div>

            {% endfor %}

            <div class="col-12 col-md-6 col-lg-12">
                <div class="c-news-feed">
                    <div class="c-news-feed__title">Most popular</div>
                    <ul class="row c-news-feed__list">

                        {% for i in 0..2 if popularArticles[i] %}
                                <li class="col-sm-12">
                                    {{this.render('../_single-article.twig', {
                                        article: popularArticles[i], 
                                        imageSuppress: true,
                                        containerClass: "card-6-mobile card-6-tablet card-6-desktop"
                                    }) | raw}}
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- row -->







