{% set link = _Blog.getHomeBlogSettings() %}
{% set footerMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer'}) %}

{% set altLogo = networkData.templatePath~'/static/images/logo-white.png'%}
{% if networkData.secondaryLogoMedia | length > 0 %}
    {% set altLogo = _Media.getMediaUrl(networkData.secondaryLogoMedia, 650, 144, {'crop': 'fit'} )%}
{% endif %}

<footer class="c-footer c-footer-sm">
    <div class="container">

        <div class="c-footer__container">
            <div class="row">
                <div class="col-12 col-md-5">
                    <a href="{{networkData.defaultBlogUrl}}" class="c-footer__logo u-tablet-margin-bottom-20 u-desktop-margin-bottom-20">
                        <img src="{{altLogo}}" alt="{{networkData.title}}">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5 order-lg-1 order-md-2 c-footer__contact">
                    <p class="c-footer__subhead">GET IN TOUCH</p>
                    <p class="c-footer__address"><span class="c-footer__address--bold">Telephone</span> 03 5023 0211</p>
                    <p class="c-footer__email"><span class="c-footer__email--bold">Editorial</span> news@sunraysiadaily.com.au</p>
                    <p class="c-footer__email"><span class="c-footer__email--bold">Advertising</span> adbookings@sunraysiadaily.com.au</p>
                    <p class="c-footer__email"><span class="c-footer__email--bold">Admin</span> admin@sunraysiadaily.com.au</p>
                    <p class="c-footer__email"><span class="c-footer__email--bold">Classifieds</span> classads@sunraysiadaily.com.au</p>
                     
                    <br />
                    <p class="c-footer__address">22 Deakin Avenue, Mildura VIC 3500</p>
                    <p class="c-footer__address">PO Box 1400, Mildura Vic 3502</p>
                </div>


                <div class="col-12 col-lg-7 c-footer__navigation-container order-lg-2 order-md-1 d-sm-none d-md-block">
                    <div class="row">
                        
                            {% set footercols = 0 %}
                            {% for i in 0..4 if footerMenu | length > footercols %}
                                <div class="col-12 col-md-4 c-footer__navigation u-border-left">
                                    
                                        {{this.render('_submenu_navigation.twig', {
                                            items: footerMenu | slice(footercols, 6),
                                            class: '',
                                        }) | raw}}
                                    
                                </div>
                                {% set footercols = footercols + 6 %}
                            {% endfor %}
                            
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__bottom">
            <div class="c-footer__copyright">&copy; Elliott Newspaper Group 2019. Powered by AAP Studio</div>
            <div class="c-footer__links">
                <a href="{{networkData.defaultBlogUrl}}/conditions-of-use" class="c-footer__link">Terms &amp; Conditions</a>
                <a href="{{networkData.defaultBlogUrl}}/privacy-policy" class="c-footer__link">Privacy</a>
                <a href="{{networkData.defaultBlogUrl}}/complaints-policy" class="c-footer__link">Complaints policy</a>
            
            </div>
        </div>
    </div>
</footer>
