{# {% set footerMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer'}) %} #}

{% set footerMenu = getCache("footerMenu") %}
{% if (footerMenu is empty) %}
    {% set footerMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer'}) %}
    {% set cache = setCache("footerMenu", footerMenu, 500) %} 
{% endif %}





{% set altLogo = networkData.templatePath~'/static/images/logo-white.png'%}
{% if networkData.secondaryLogoMedia | length > 0 %}
    {% set altLogo = _Media.getMediaUrl(networkData.secondaryLogoMedia, 650, 144, {'crop': 'fit'} )%}
{% endif %}

{% set config = _Network.getThemeConfig() %}
{% set contact = {
    "telephone": null,
    "emails" : [],
    "address":[],
    "mail_address":null
 } %}



{% if config['contact'] is defined %}
    {% set contact = config['contact'] %}
{% endif %}



<footer class="c-footer c-footer-sm">
    <div class="container">

        <div class="c-footer__container">
            <div class="row">
                <div class="col-12 col-md-5">
                    <a href="{{networkData.defaultBlogUrl}}" class="c-footer__logo u-tablet-margin-bottom-20 u-desktop-margin-bottom-20">
                        <img src="{{altLogo}}" alt="{{networkData.title}}">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5 order-lg-1 order-md-2 c-footer__contact">
                    <p class="c-footer__subhead">GET IN TOUCH</p>
                    <p class="c-footer__address"><span class="c-footer__address--bold">Telephone</span> {{contact['telephone']}}</p>
                    {% for email in contact['emails'] %}
                        <p class="c-footer__email"><span class="c-footer__email--bold">{{email['label']}}</span> {{email['value']}}</p>
                    {% endfor %}

                    <br />
                    <p class="c-footer__address">{{contact['address']['street']}}, {{contact['address']['town']}} {{contact['address']['state']}} {{contact['address']['postcode']}}</p>
                    <p class="c-footer__address">{{contact['mail_address']}}</p>
                    {% if contact['hours'] is defined %}
                        <p class="c-footer__address"><span class="c-footer__address--bold">Office hours: </span>{{contact['hours']}}</p>
                    {% endif %}
                </div>


                <div class="col-12 col-lg-7 c-footer__navigation-container order-lg-2 order-md-1 d-sm-none d-md-block">
                    <div class="row">
                        
                            {% set footercols = 0 %}
                            {% for i in 0..4 if footerMenu | length > footercols %}
                                <div class="col-12 col-md-4 c-footer__navigation u-border-left">
                                    
                                        {{this.render('_submenu_navigation.twig', {
                                            items: footerMenu | slice(footercols, 6),
                                            class: '',
                                        }) | raw}}
                                    
                                </div>
                                {% set footercols = footercols + 6 %}
                            {% endfor %}
                            
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__bottom">
            <div class="c-footer__copyright" style="margin-bottom:10px;">&copy; Elliott Newspaper Group {{ "now"|date("Y") }}. <br class="d-md-none" style="margin-bottom:5px;">Designed and powered by Pagemasters Publish</div>
            <div class="c-footer__links">
                <a href="{{networkData.defaultBlogUrl}}/conditions-of-use" class="c-footer__link">Terms &amp; Conditions</a>
                <a href="{{networkData.defaultBlogUrl}}/privacy-policy" class="c-footer__link">Privacy</a>
                <a href="{{networkData.defaultBlogUrl}}/complaints-policy" class="c-footer__link">Complaints policy</a>
            
            </div>
        </div>
    </div>
</footer>
